<p-toast></p-toast>


        <div class="">

            <div *ngIf="!createNew" class="m-6 border-round-3xl bg-white">
                <div class="center-container  mt-5 p-3">
                    <div class="field col-6">
                        <div class="">
                            <img src="/assets/invoices.png" alt="Image" class="w-full h-auto">
                        </div>
                        <div class="text-center">
                            <b>Streamline procurement with ease?</b><br>
                            <p>create your first Sales Invoice today!</p>
                        </div>
                        <div class="text-center">
                            <button type="button" pButton label="Create Sales Invoice" (click)="createSI()"
                                class="mb-3 text-lg p-button-raised bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-800 "></button>
                        </div>
                    </div>
                </div>
            </div>


            <div *ngIf="createNew" >
                <div class="bg-white flex">
                    <div class="col-4 py-3">
                        <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
                    </div>
                    <div class="col-8">
                        <div class=" border-200 text-right p-3">
                            <button type="button" pButton label="Close" (click)="OnCancelSI()"
                                class="mr-3 p-button-secondary"></button>
                            <button type="button" pButton label="Save Sales Invoice" (click)="finalSISubmitPage()" [disabled]="this.siSubTotal == 0"
                                class="mr-3 bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-800"></button>
                        </div>
                    </div> 
                </div>
    
                <div class="m-6 bg-white border-round-3xl">
                    
                    <form (ngSubmit)="onSubmitSI()" [formGroup]="siForm" class="p-6">
                        
                        <h4 class="text-xl text-blue-700">Sales Invoice Details: </h4>

                        <div class="flex gap-3">
                            <div class="field col-6">
                                <label class="mr-3">Sales Invoice Number:</label>
                                <input pInputText value="{{this.siForm.value.invoiceNo}}" placeholder="Your Sales Invoice Number"
                                    class="w-full custom-input" [disabled]="true" />
                            </div>

                            <div class="field col-6">
                                <label class="mr-3 required">Invoice Date</label>
                                <p-calendar formControlName="invoiceDate" [showIcon]="true" dateFormat="dd-mm-yy"
                                    placeholder="Choose invoice Date" [style]="{ width: '100%' }" >
                                </p-calendar>
                                <error-message [controlName]="siForm.controls['invoiceDate']"></error-message>
                            </div>
                            
                        </div>
    
                        
    
                        <div class="flex gap-3">
                            <div class="field col-6">
                                <label class="mr-3 ">Vendor Invoice</label>
                                <!-- <ng-container formGroupName="vendorInvoice">
                                    <div class="payment-dropdown ">
                                        <p-dropdown [options]="vendorInvoices" placeholder="Choose Vendor Invoice" optionValue="id"
                                            formControlName="id" optionLabel="documentnumber" [showClear]="true"
                                            (ngChange)="selectVendor()" [style]="{ width: '100%' }">
                                        </p-dropdown>
                                    </div>
                                </ng-container>   -->
                                <ng-container formGroupName="vendorInvoice" class="w-full">
                                    <p-dropdown [options]="vendorInvoices" placeholder="Choose Vendor Invoice" optionValue="id"
                                        formControlName="id" [showClear]="true" (onChange)="selectVendor()"
                                        [style]="{ width: '100%' }" optionLabel="documentnumber">
                                        <ng-template let-vi pTemplate="option">
                                            <span>{{ vi.documentnumber }} , (Gross Total: ₹{{ vi.grosstotal}}) </span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-container>    
                            </div>
                            <div class="field col-6">
                                <label class="mr-3 required">Sales Order</label>
                                <!-- <ng-container formGroupName="salesOrder">
                                    <div class="payment-dropdown ">
                                        <p-dropdown [options]="salesOrders" placeholder="Choose Sales Order" optionValue="id"
                                            formControlName="id" optionLabel="documentno" [showClear]="true"
                                            (ngChange)="selectVendor()" [style]="{ width: '100%' }">
                                        </p-dropdown>
                                    </div>
                                </ng-container>   -->
                                <ng-container formGroupName="salesOrder" class="w-full">
                                    <p-dropdown [options]="salesOrders" placeholder="Choose Sales Order" optionValue="id"
                                        formControlName="id" [showClear]="true" (onChange)="changeCustomer($event)"
                                        [style]="{ width: '100%' }" optionLabel="documentno">
                                        <ng-template let-so pTemplate="option">
                                            <span>{{ so.documentno }} , (Gross Total: ₹{{ so.grossTotal}}) </span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-container>  
                            </div>
                        </div>

                        <!-- <div class="flex gap-3">
                            <div class="field col-6 payment-dropdown" >
                                <label class="mr-3">Customer Details</label>
                                <ng-container formGroupName="customer">
                                    <div class="payment-dropdown">
                                        <p-dropdown [options]="customers" placeholder="Choose Customer" optionValue="id"
                                            formControlName="id" optionLabel="displayName" [showClear]="true"
                                            (ngChange)="selectVendor()"  [style]="{ width: '100%' }" [disabled]="true" >
                                        </p-dropdown>
                                    </div>
                                </ng-container>
                            </div>
                        </div> -->
                        <div class="field col-6">
                            <label class="mr-3">Customer Details:</label>
                            <input pInputText value="{{this.currCustomer.displayName }} {{this.currCustomer.mobileNumber}}" placeholder="From Sales Order"
                                class="w-full custom-input" [disabled]="true" />
                        </div>

                        <div class="border-bottom-1 border-200 text-right p-3" *ngIf="!id" >
                            <button type="submit" pButton label="Save" [disabled]="!siForm.valid"
                                class="mb-6 bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-600 "></button>
                        </div>
    
                    </form>
    
                    <div *ngIf="id" class="p-1">
                        <p-table #dt [value]="lineitems" dataKey="id" editMode="row"
                            >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="text-center" width="100">Product</th>
                                    <th class="text-center" width="100">Price</th>
                                    <th class="text-center" width="100">Quantity</th>
                                    <th class="text-center" width="100">Discount</th>
                                    <th class="text-center" width="100">Total</th>
                                    <th width="160" *ngIf="!viewOnly" class="text-right">
                                        <button pButton label="Add Item" icon="pi pi-plus"
                                            class="p-button-secondary p-button-outlined mr-3" (click)="enableRowSubmit()"
                                            (click)="newRecord = !newRecord" pAddRow [table]="dt" [newRow]="newRow()"
                                            [inProgress]="newRecord" [disabled]="newRecord"></button>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-lineItem let-editing="editing" let-ri="rowIndex">
                                <tr [pEditableRow]="lineItem">
                                    <td class="text-center">
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <p-dropdown [options]="products" [(ngModel)]="lineItem.expenseName.id"
                                                    placeholder="Choose Product" optionValue="id" optionLabel="name"
                                                    [showClear]="true" (ngModelChange)="setLineValues(lineItem)">
                                                </p-dropdown>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{ lineItem?.expenseName?.name }}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td class="text-center">
                                        <!-- {{ lineItem?.unitprice | number : "1.2-2" }} -->
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <p-inputNumber [(ngModel)]="lineItem.unitPrice"
                                                    (onInput)="setLineQtyValuesPrice($event, lineItem)" [format]="false"
                                                    [required]="true">
                                                </p-inputNumber>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{ lineItem?.unitPrice }}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td class="text-center">
                                        <!-- {{ lineItem?.quantity | number : "1.2-2" }} -->
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <p-inputNumber [(ngModel)]="lineItem.quantity"
                                                    (onInput)="setLineQtyValuesQuantity($event, lineItem)" [format]="false"
                                                    [required]="true">
                                                </p-inputNumber>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{ lineItem?.quantity }}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td class="text-center">
                                        <!-- {{ lineItem?.discount | number : "1.2-2" }} -->
                                        <p-cellEditor>
                                            <ng-template pTemplate="input">
                                                <p-inputNumber [(ngModel)]="lineItem.discount"
                                                    (onInput)="setLineQtyValuesDiscount($event, lineItem)" [format]="false"
                                                    [required]="true">
                                                </p-inputNumber>
                                            </ng-template>
                                            <ng-template pTemplate="output">
                                                {{ lineItem?.discount }}
                                            </ng-template>
                                        </p-cellEditor>
                                    </td>
                                    <td class="text-center">
                                        {{ ((lineItem?.unitPrice)*(lineItem?.quantity))-(lineItem?.discount) | number :
                                        "1.2-2" }}
                                    </td>
                                    <td *ngIf="!viewOnly" class="text-right">
                                        <div>
                                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                                                icon="pi pi-pencil" (click)="onRowEditInit(lineItem)"
                                                class="p-button-rounded p-button-text"></button>
                                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow
                                                icon="pi pi-trash" (click)="delete(lineItem)"
                                                class="p-button-rounded p-button-text p-button-danger"></button>
                                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow
                                                icon="pi pi-check" (click)="onRowEditSave(lineItem)"
                                                class="p-button-rounded p-button-text p-button-success mr-2"
                                                [disabled]="!isquantity"></button>
                                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                                icon="pi pi-times" (click)="onRowEditCancel(lineItem, ri)"
                                                class="p-button-rounded p-button-text p-button-danger"></button>
                                        </div>
                                    </td>
                                </tr>
                                <p-dialog header="Header" [(visible)]="DeleteDialLogvisible" [modal]="true" [style]="{ width: '30vw' }" [draggable]="false" [resizable]="false">
                                    <ng-template pTemplate="header">
                                        <span class="text-xl font-bold">Confirmation</span>
                                    </ng-template>
                                    <p class="m-0">Are you sure you want to delete this SI Item ?</p>
                                    <ng-template pTemplate="footer">
                                            <p-button icon="pi pi-times" (click)="cancelDeleteConfirm()" label="Cancel" styleClass="p-button-text"></p-button>
                                        <p-button icon="pi pi-check" (click)="deleteConfirm(lineItem)" label="Yes" styleClass="p-button-text"></p-button>
                                    </ng-template>
                                </p-dialog>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="8">
                                        <div class="text-center m-5">
                                            No Sales Invoice line Items found, Create one.
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
    
                        </p-table>

                        <!-- <div class="flex">
                            <div class="col-6">
                                <ul class="list-none p-0 m-0">
                                    <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap">
                                        <div class="text-500 w-6 md:w-9 font-medium text-right">
                                            Sub Total
                                        </div>
                                        <div class=" w-full font-medium md:w-3 md:flex-order-0 flex-order-1 text-right">
                                            ₹ {{ this.siSubTotal}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="field col-6">
                                <label for="file">Upload File</label>
                                <input type="file" name="file" (change)="selectFile($event)" accept="image/*"
                                    class="w-full " chooseLabel="Upload File" />
                            </div>
                        </div>-->
    
                        <!-- <div class="flex gap-5 mt-5">
                            <div class="field col-1"></div>
                            <div class="field col-4">
                                <label for="file">Upload File :</label><br>
                                <input type="file" name="file" (change)="selectFile($event)" accept="image/*"
                                    class="mt-2" chooseLabel="Upload File" />
                            </div>
                        </div> -->


                        <div class="flex gap-5 mt-5" class="text-left">
                            <div class="field col-1"></div>
                            <div class="field col-4">
                                <label for="fileInput" class="">
                                    <img src="/assets/uploadFile.png" alt="Upload Image" class="ml-2 mt-2 w-12">
                                </label>
                                <input
                                    type="file"
                                    id="fileInput"
                                    name="file"
                                    accept="image/*"
                                    class="hidden"
                                    (change)="selectFile($event)"
                                >
                                
                            </div>
                        </div>

                        <div class=" border-200 text-right mr-6 mb-3">
                            <div class="text-xl ">
                                SUB TOTAL: ₹ {{this.siSubTotal}}
                            </div> <br>
                            <div class="text-xl">
                                TOTAL: ₹ {{this.siSubTotal}}
                            </div>
                        </div>
    
                        <div class="border-bottom-1 border-200 text-right p-3">
                            <button type="button" pButton label="Close" (click)="OnCancelSI()"
                                class="mr-3 p-button-secondary "></button>
                            <button type="button" pButton label="Save Sales Invoice" (click)="finalSISubmitPage()"
                                [disabled]="this.siSubTotal == 0"
                                class=" mr-3 bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-800"></button>
                        </div>

                    </div>
                </div>
                    
            </div>
            
        </div>
    
    <p-blockUI [blocked]="submitted">
        <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
    </p-blockUI>
