// .layout {
//     display: flex;
//     flex-direction: column;
//     height: 100vh; /* Adjust the height as needed */

//     .content-wrapper {
//       display: flex;
//       flex-grow: 1;
//     }

//     .sidebar {
//       width: 218px; /* Adjust the width as needed */
//        /* Set the background color of the sidebar */
//       color: white; /* Set the text color of the sidebar */
//     }

//     .main-content {
//       flex-grow: 1;
//       padding: 20px; /* Add padding for content */
//     }
//   }
.center-container {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
}



.iconSCSS1 {
  display: flex;
  align-items: center;
  // justify-content: end;
}

.fileTitle {
  color: #3a77df;
  text-transform: capitalize;
}

.greyText {
  color: #A4A4A4;
  font-size: 12px;
  text-transform: capitalize;
}

.showFileName {
  margin-left: 97px;
  color: rgb(126, 121, 121);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}