<p-toast></p-toast>

<div class="">
  <div *ngIf="!createNew" class="m-6 border-round-3xl bg-white">
    <div class="center-container mt-5 p-3 ">
      <div class="field col-3"></div>
      <div class="field col-6 ">
        <div class="image-container">
          <img src="/assets/role.png" alt="Image" class="w-full h-auto">
        </div>
        <div class="text-center">
          <b class="text-2xl">Create Role</b><br>
          <p>EmpowerYour Team by Delegating Tasks and Responsibilities</p>
        </div>
        <div class="text-center">
          <button type="button" pButton label="Create Delegation" (click)="createWorkflow()"
            class="mb-3 text-lg p-button-raised bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-800 "></button>
        </div>
      </div>
      <div class="field col-3"></div>
    </div>
  </div>

  <div *ngIf="createNew">
    <div class="bg-white iconSCSS1">
      <div class="col-4">
        <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
      </div>
      <div class="col-8">
        <div class="border-200 text-right">
          <button type="button" pButton label="Cancel" class=" mr-3 p-button-secondary" (click)="onCancel()"></button>
          <button type="button" pButton label="Save Workflow" (click)="submitWorkflow()"
            [disabled]="!workflowForm.valid"
            class=" mr-3 bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-800 "></button>
        </div>
      </div>
    </div>

    <div class="m-8 bg-white border-round-3xl">
      <form (ngSubmit)="submitWorkflow()" [formGroup]="workflowForm" class="p-6 ml-8">
        <h3 class="text-xl text-blue-700">Workflow Details</h3>


        <div class="field col-8">
          <label class="mr-3 required">Maker Role Name</label>
          <ng-container formGroupName="makerRole" class="w-full">
            <p-dropdown [options]="allRoles" placeholder="Choose Maker Role" optionValue="id" formControlName="id"
              optionLabel="name" [showClear]="true" [style]="{ width: '100%' }">
            </p-dropdown>
          </ng-container>
          <error-message [controlName]="workflowForm.controls['makerRole']"></error-message>
        </div>


        <div class="field col-8">
          <label class="mr-3 required">Checker Role Name</label>
          <ng-container formGroupName="checkerRole" class="w-full">
            <p-dropdown [options]="allRoles" placeholder="Choose Checker Role" optionValue="id" formControlName="id"
              optionLabel="name" [showClear]="true" [style]="{ width: '100%' }">
            </p-dropdown>
          </ng-container>
          <error-message [controlName]="workflowForm.controls['checkerRole']"></error-message>
        </div>

        <div class="field col-8">
          <label class="mr-3 required">Workflow Description</label>
          <textarea pInputText formControlName="description" placeholder="Enter Workflow Description"
            class="w-full"></textarea>
          <error-message [controlName]="workflowForm.controls['description']"></error-message>
        </div>

        <div class="field col-9 flex">
          <div class="flex align-items-center col-3">
            <p-checkbox formControlName="increase" inputId="binary" [binary]="true"></p-checkbox>
            <label for="increase" class="ml-2">Increase</label>
          </div>

          <div class="flex align-items-center col-3">
            <p-checkbox formControlName="sanctioner" inputId="binary" [binary]="true"></p-checkbox>
            <label for="sanctioner" class="ml-2">Sanctioner</label>
          </div>

          <div class="flex align-items-center col-3">
            <p-checkbox formControlName="ratificationer" inputId="binary" [binary]="true"></p-checkbox>
            <label for="ratificationer" class="ml-2">Ratificationer</label>
          </div>
        </div>

        <div class="border-bottom-1 border-200 text-right p-3">
          <button type="button" pButton label="Cancel" (click)="onCancel()" class=" mr-3 p-button-secondary "></button>
          <button type="submit" pButton label="Save Workflow" [disabled]="!workflowForm.valid"
            class=" mr-3 bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-800 "></button>
        </div>

      </form>

    </div>
  </div>
</div>