.login-page {
  height: 100vh;
  width: 100vw;
}

.login-grid {
  width: 100vw;
}

.left-panel {
  min-height: 100px;
  background: url('^assets/bill-pay.png');
  background-size: cover;
  background-position: -600px;
}

.rounded-button {
  border-radius: 7px;
  /* Adjust the radius as needed */
}

a {
  text-decoration: none;
}

.custom-input {
  height: 40px;
  // padding-left: 50px;
  // box-shadow: 1px 1px 1px rgba(148, 138, 138, 0.2);/* Adjust the height as needed */
  /* Add any other custom styles as needed */
}

.iconSCSS {
  display: flex;
  align-items: center;
}

// :host::ng-deep {
//   .p-buttonset .p-button:first-of-type {
//     border-top-left-radius: 6px;
//     border-bottom-left-radius: 6px;
//   }

//   .p-buttonset .p-button:last-of-type {
//     border-top-right-radius: 6px;
//     border-bottom-right-radius: 6px;
//   }
// }

// .svg-input1 {
//   background: url('/assets/profile.svg') no-repeat;
//   background-size: contain;
//   background-color: whitesmoke
// }

// .svg-input2 {
//   background: url('/assets/lock.svg') no-repeat ;
//   background-size: contain;
//   background-color: white;
// }