<p-toast></p-toast>

        <div class="">
            <div class="bg-white">
                <div class="border-bottom-1 border-200 text-right p-3">
                    <button type="button" pButton label="Cancel"
                        class=" mr-3 p-button-secondary "></button>
                    <button type="button" pButton label="Add Product" (click)="onSubmitProduct()" [disabled]="!productForm.valid"
                        class=" mr-3 bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-800 "></button>
                </div>
            </div>

            <div class="m-6 bg-white border-round-3xl">

                <form (ngSubmit)="onSubmitProduct()" [formGroup]="productForm" class="p-6">
                    <h3 class="text-xl text-blue-700">Product Details</h3>

                    <div class="flex gap-2">
                        <div class="field col-6">
                            <label class="mr-3 required">Product Name</label>
                            <input pInputText formControlName="name" placeholder="Enter Product Name" class="w-full" />
                            <error-message [controlName]="productForm.controls['name']"></error-message>
                        </div>
                        <div class="field col-6">
                            <label class="mr-3 required">Model</label>
                            <input pInputText formControlName="model" placeholder="Enter Product Model"
                                class="w-full" />
                            <error-message [controlName]="productForm.controls['model']"></error-message>
                        </div>
                        
                    </div>
                    <div class="flex gap-2">
                        <div class="field col-6">
                            <label class="mr-3 required">Search key</label>
                            <input pInputText formControlName="searchKey" placeholder="Enter Search key"
                                class="w-full" />
                            <error-message [controlName]="productForm.controls['searchKey']"></error-message>
                        </div>
                        <div class="field col-6">
                            <label class="mr-3 required">Product Category</label>
                            <input pInputText formControlName="category" placeholder="Choose Category" class="w-full" />
                            <error-message [controlName]="productForm.controls['category']"></error-message>
                        </div>
                    </div>

                    <div class="flex gap-2">
                        <div class="field col-6 payment-dropdown">
                            <label class="mr-3 required">Product Type</label>
                            <!-- <input pInputText formControlName="productType" placeholder="Enter Product Type"
                                class="w-full" />
                            <error-message [controlName]="productForm.controls['productType']"></error-message> -->
                            <div class="payment-dropdown ">
                                <p-dropdown class="bg-slate-200" [options]="productType" [style]="{ width: '100%' }"
                                    placeholder="Type" optionLabel="name" optionValue="name"
                                    formControlName="productType"></p-dropdown>
                            </div>
                        </div>
                        <div class="field col-6">
                            <label class="mr-3 ">Brand</label>
                            <input pInputText formControlName="brand" placeholder="Enter Brand" class="w-full" />
                            <error-message [controlName]="productForm.controls['brand']"></error-message>
                        </div>
                    </div>

                    
                    <h4 class="text-base text-blue-700">Price Details</h4>
                    <div class="flex gap-2">
                        <div class="field col-6">
                            <label class="mr-3 required">Product's MRP</label>
                            <input pInputText formControlName="mrp" placeholder="Enter Product MRP" class="w-full" />
                            <error-message [controlName]="productForm.controls['mrp']"></error-message>
                        </div>
                        <div class="field col-6">
                            <label class="mr-3 ">Tax Rate</label>
                            <input pInputText formControlName="taxRate" placeholder="Enter Tax Rate" class="w-full" />
                            <error-message [controlName]="productForm.controls['taxRate']"></error-message>
                        </div>
                    </div>

                    
                    <h4 class="text-blue-700">Code Details</h4>

                    <div class="flex gap-2">
                        <div class="field col-6">
                            <label class="mr-3 required">Bar Code</label>
                            <input pInputText formControlName="barCode" placeholder="Enter BarCode" class="w-full" />
                            <error-message [controlName]="productForm.controls['barCode']"></error-message>
                        </div>
                        <div class="field col-6">
                            <label class="mr-3 required">HSN Code</label>
                            <input pInputText formControlName="hsnCode" placeholder="Enter HSN Code" class="w-full" />
                            <error-message [controlName]="productForm.controls['hsnCode']"></error-message>
                        </div>
                    </div>

                    <div class="flex gap-2">
                        <div class="field col-6">
                            <label class="mr-3 required">SKU Code</label>
                            <input pInputText formControlName="skuCode" placeholder="Enter SKU Code"
                                class="w-full" />
                            <error-message [controlName]="productForm.controls['skuCode']"></error-message>
                        </div>
                        <div class="field col-6">
                            <label class="mr-3 required">Description</label>
                            <input pInputText formControlName="description" placeholder="Enter Description"
                                class="w-full" />
                            <error-message [controlName]="productForm.controls['description']"></error-message>
                        </div> 
                    </div>

                    <!-- <div class="flex ">
                        <div class="field col-12 text-right w-full">
                            <button type="submit" pButton label="Save" [disabled]="!productForm.valid"
                                class="mb-6 p-button-raised bg-blue-500 text-white px-4 py-2.5 rounded-md hover:bg-blue-600 "></button>
                        </div>
                    </div> -->

                    <div class="border-bottom-1 border-200 text-right p-3">
                        <button type="button" pButton label="Cancel"
                            class=" mr-3 p-button-secondary"></button>
                        <button type="button" pButton label="Add Product" (click)="onSubmitProduct()" [disabled]="!productForm.valid"
                            class=" mr-3 bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-800 "></button>
                    </div>

                </form>
            </div>
        </div>
