

.iconSCSS1 {
  display: flex;
  align-items: center;
  // justify-content: end;
}
    .p-breadcrumb {
      border: none !important;
      margin-left: 25px;
      align-items: center;
    }
  
  .custom-button {
    background: #3B82F6;
    border-radius: 3.09px;
  }
  .custom-button:hover {
    background: #3884fd;
    border: #3884fd;
    border-radius: 3.09px;
  }
  // Override the default text color
  .custom-button .p-button-text {
    color: #ffffff;
  }
  .iconSCSS1 {
    display: flex;
    align-items: center;
   // justify-content: end;
  }

  .custom-hr {
    border: none; /* Remove the default border */
    border-top: 1px solid lightgray; /* Set the border color to light gray */
    margin: 3px 0; /* Add margin for spacing (adjust as needed) */
  }
