
.center-container {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  height: 82vh;
  /* Optional: Adjust the height as needed for vertical centering */
}

.fileTitle {
  color: #3a77df;
  text-transform: capitalize;
}

.greyText {
  color: #A4A4A4;
  font-size: 12px;
  text-transform: capitalize;
}

::ng-deep {
  .p-breadcrumb {
    border: none !important;
    margin-left: 25px;
    align-items: center;
  }
}

.iconSCSS {
  display: flex;
  align-items: center;
}

.custom-rounded-select {
  .ui-button {
    border-radius: 40px; // Adjust the radius value as needed
  }
}

.iconSCSS1 {
  display: flex;
  align-items: center;
  // justify-content: end;
}