<div class="p-6">
  <!--  -->
  <div class="bg-white p-4">
    <!-- <app-sidebar class="sidebar"></app-sidebar> -->

    <!-- <div class="sidebar bg-slate-100">
     
    </div> -->

    <div class="">
      <div>
        <div class="grid gap-2">
          <div class="field col-6  ml-5">
            <b class="text-lg">Easily link your bank account in just a minute:</b><br>
            <p>✔ Access your bank statement to streamline your bookkeeping process.</p>
            <p>✔ Effortlessly settle payments to vendors or outstanding bills <br>
              directly through your bank account</p>
            <br>
            <b class="text-base">Choose your bank for a quick and secure connection</b>

          </div>
          <div class="field col-5">
              <!-- <img src="/assets/AccountD.png" alt="Image" class="w-full h-auto"> -->
          </div>
        </div>
        <div class="flex">
          <div class="field col-12">

          </div>
        </div>


      </div>
    </div>
  </div>
</div>