  .custom-input {
    height: 40px;
    // box-shadow: 1px 1px 1px rgba(148, 138, 138, 0.2);/* Adjust the height as needed */
    /* Add any other custom styles as needed */
  }
  .sidebar {
    width: 100px !important; /* Adjust the width to your desired value */
  }





  .defaultSCSS {
    background-color: white;
    color: black;
    border:1px solid rgb(221, 214, 214);
    border-radius: 13px;
    padding: 12px 28px;
    // border-bottom: 3px solid lightgrey;
    // width: 100%;
    font-weight: 700;
    /* Remove the default button border */
    //border-bottom: 2px solid black; /* Add a transparent bottom border *//* Optional: Add spacing between buttons */
}

.onClickButton {
  //border-bottom: 2px solid blue;
  // border-bottom: 3px solid #3579F3;
  /* Change the bottom border color on hover (e.g., blue) */
  color: white;
  background-color: rgb(21, 143, 243);
  font-weight: 700;
  /* Change the text color on hover (optional) */
}


.debSCSS{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.credSCSS{
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}



// .responsive-image {
//   max-width: 100%;
//   height: auto;
// }

.responsive-image {
  max-width: 100%;
  // max-height: 350px; /* Adjust the height as desired */
  // width: auto;
  height: auto;
}


.acc{
  max-width: 100%;
    // height: auto;
}


