<p-toast></p-toast>
<div class="">
    <div class="bg-white">
        <div class="border-bottom-1 border-200 text-right p-3">
            <button type="button" pButton label="Cancel"
                class="  mr-3 p-button-secondary"></button>
            <button type="button" pButton label="Add Beneficiary" [disabled]="!beneficiaryForm.valid"
                class="mr-3 bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-800 "></button>
        </div>
    </div>

    <div class="m-6 bg-white border-round-3xl">
        <form (ngSubmit)="onSubmitBeneficiary()" [formGroup]="beneficiaryForm" class="p-6">
            <h3 class="text-xl text-blue-700">Beneficairy Details</h3>
            
            <div class="flex gap-2">
                <div class="field col-6">
                    <label class="mr-3 required">Beneficiary Name</label>
                    <input pInputText formControlName="beneficaryName" placeholder="Enter Beneficiary Name"
                        class="w-full" />
                    <error-message [controlName]="beneficiaryForm.controls['beneficaryName']"></error-message>
                </div>
                <div class="field col-6">
                    <label class="mr-3 required">Nick Name</label>
                    <input pInputText formControlName="nickname" placeholder="Enter Beneficiary's Nick Name"
                        class="w-full" />
                    <error-message [controlName]="beneficiaryForm.controls['nickname']"></error-message>
                </div>
            </div>

            <div class="flex gap-2">
                <div class="field col-6">
                    <label class="mr-3 required">Account Number</label>
                    <input pInputText formControlName="accountNumber" placeholder="Enter Beneficiary's Account Number"
                        class="w-full" />
                    <error-message [controlName]="beneficiaryForm.controls['accountNumber']"></error-message>
                </div>
                <div class="field col-6">
                    <label class="mr-3 required">IFSC Code</label>
                    <input pInputText formControlName="ifscCode" placeholder="Enter Beneficiary's IFSC Code"
                        class="w-full" />
                    <error-message [controlName]="beneficiaryForm.controls['ifscCode']"></error-message>
                </div>
            </div>

            <div class="flex gap-2">
                <div class="field col-6">
                    <label class="mr-3 required">Mobile Number</label>
                    <input pInputText formControlName="mobileNumber" minlength="10" maxlength="10"
                        placeholder="Enter Beneficiary's Mobile Number" class="w-full" />
                    <error-message [controlName]="beneficiaryForm.controls['mobileNumber']"></error-message>
                </div>
                <div class="field col-6">
                    <label class="mr-3 required">MMID</label>
                    <input pInputText formControlName="mmid" placeholder="Enter Beneficiary's mmid" class="w-full" />
                    <error-message [controlName]="beneficiaryForm.controls['mmid']"></error-message>
                </div>
            </div>

            <!-- <div class="flex">
                <div class="field col-4">
                    <button type="submit" pButton label="Save" [disabled]="!beneficiaryForm.valid"
                        class="mb-6 text-lg p-button-raised bg-green-500 text-white px-4 py-2.5 rounded-md hover:bg-green-600 "></button>
                </div>
            </div> -->

            <div class="border-bottom-1 border-200 text-right p-3">
                <button type="button" pButton label="Cancel"
                    class=" mr-3 p-button-secondary "></button>
                <button type="submit" pButton label="Add Beneficiary" [disabled]="!beneficiaryForm.valid"
                    class="mr-3 bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-800 "></button>
            </div>

        </form>
    </div>
</div>