.iconSCSS{
    display: flex;
    align-items: center;
  }
  .custom-input {
    height: 40px;
    // box-shadow: 1px 1px 1px rgba(148, 138, 138, 0.2);/* Adjust the height as needed */
    /* Add any other custom styles as needed */
  }