<div class="">
    <div class="bg-white iconSCSS1">
        <div class="col-4">
            <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="col-8">
            <div class=" border-200 text-right">
                <button type="button" pButton (click)="CreateProductCategory()"
                    class=" mr-3 bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-800  ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="mr-2" viewBox="0 0 20 20"
                        fill="none">
                        <path
                            d="M17.5 10C17.5 10.1658 17.4342 10.3247 17.3169 10.4419C17.1997 10.5592 17.0408 10.625 16.875 10.625H10.625V16.875C10.625 17.0408 10.5592 17.1997 10.4419 17.3169C10.3247 17.4342 10.1658 17.5 10 17.5C9.83424 17.5 9.67527 17.4342 9.55806 17.3169C9.44085 17.1997 9.375 17.0408 9.375 16.875V10.625H3.125C2.95924 10.625 2.80027 10.5592 2.68306 10.4419C2.56585 10.3247 2.5 10.1658 2.5 10C2.5 9.83424 2.56585 9.67527 2.68306 9.55806C2.80027 9.44085 2.95924 9.375 3.125 9.375H9.375V3.125C9.375 2.95924 9.44085 2.80027 9.55806 2.68306C9.67527 2.56585 9.83424 2.5 10 2.5C10.1658 2.5 10.3247 2.56585 10.4419 2.68306C10.5592 2.80027 10.625 2.95924 10.625 3.125V9.375H16.875C17.0408 9.375 17.1997 9.44085 17.3169 9.55806C17.4342 9.67527 17.5 9.83424 17.5 10Z"
                            fill="white" />
                    </svg> Create Product Category
                </button>
            </div>
        </div>
    </div>

    <!-- Left List Panel -->
    <div class="m-6 bg-white border-round-xl">
        <div class="p-5">
            <div>
                <p-panel class="left-panel ">
                    <ng-template pTemplate="header">
                        <div class="iconSCSS1 w-full">
                            <div class="col-2 text-left">All Product Categories </div>
                            <div class="col-6"></div>
                            <div class="col-4 text-right">
                                <div class="p-inputgroup">
                                    <input pInputText placeholder="Search Product Category"
                                        [(ngModel)]="searchProductCategory" class="w-full custom-input"
                                        (ngModelChange)="searchCategories(searchProductCategory)" />
                                    <button type="button" pButton pRipple icon="pi pi-search"
                                        (click)="searchCategories(searchProductCategory)"
                                        styleClass="p-button-success"></button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <div class="left-panel-content">
                            <br />
                            <div class="left-panel-content">
                                <div *ngFor="let item of allProductCategories"
                                    [ngClass]="{ 'bg-gray-100': activeProductCategory.id === item.id }">
                                    <div class="" (click)="changeProductCategory(item)">
                                        <div class="flex w-full p-1">
                                            <div class="col-1 text-left">
                                                <div class="person-icon">{{ item.name.charAt(0) }}</div>
                                            </div>
                                            <div class="col-4 text-left">
                                                <p class="blueText text-lg">Product Category Name</p>
                                                <p class="font-semibold ">{{ item.name }}</p>
                                            </div>
                                            <div class=" col-4 text-center">
                                                <p class="blueText text-lg">Search Key</p>
                                                <p class="font-semibold text-center ">
                                                    {{item.searchKey}}</p>
                                            </div>
                                            <div class="col-2 text-right">
                                                <button type="button" pButton class="editButton"
                                                    (click)="onEditProductCategory(item.id)"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="15" height="15"
                                                        viewBox="0 0 13 13" fill="none">
                                                        <path
                                                            d="M11.1614 3.60301L8.96733 1.40842C8.89436 1.33544 8.80774 1.27755 8.7124 1.23805C8.61706 1.19855 8.51487 1.17822 8.41168 1.17822C8.30848 1.17822 8.2063 1.19855 8.11096 1.23805C8.01562 1.27755 7.92899 1.33544 7.85603 1.40842L1.80063 7.46431C1.72735 7.53701 1.66925 7.62354 1.62972 7.71889C1.59018 7.81424 1.56999 7.91649 1.57032 8.01971V10.2143C1.57032 10.4227 1.6531 10.6225 1.80045 10.7699C1.9478 10.9172 2.14765 11 2.35603 11H4.55063C4.65385 11.0004 4.7561 10.9802 4.85145 10.9406C4.9468 10.9011 5.03333 10.843 5.10603 10.7697L11.1614 4.71431C11.2344 4.64135 11.2923 4.55472 11.3318 4.45938C11.3713 4.36404 11.3916 4.26186 11.3916 4.15866C11.3916 4.05547 11.3713 3.95328 11.3318 3.85794C11.2923 3.7626 11.2344 3.67598 11.1614 3.60301ZM4.55063 10.2143H2.35603V8.01971L6.67746 3.69828L8.87206 5.89288L4.55063 10.2143ZM9.42746 5.33699L7.23286 3.14288L8.41143 1.96431L10.606 4.15842L9.42746 5.33699Z"
                                                            fill="white" />
                                                    </svg></button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="custom-hr">
                                </div>

                                <div class="text-center " *ngIf="allProductCategories.length === 0">
                                    <p class="text-lg">No Product Category Available, Please Add One !!</p>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                    <p-footer> Total: {{ this.totalRecords}} </p-footer>
                </p-panel>
            </div>
        </div>
    </div>
    <!-- List Panel Ends -->

</div>