<p-toast></p-toast>

<div class="">
    <div class="bg-white">
        <!-- <div class="flex bg-gray-300 button-container">
                    <button type="button" pButton label="+ Create SI" (click)="CreateNewSI()"
                        class="mt-3  text-lg mr-3 mb-3 p-button-raised bg-blue-500 text-white px-4 py-2.5 rounded-md hover:bg-blue-600 "></button>
                </div> -->
        <div class="border-bottom-1 border-200 text-right p-3">
            <button type="button" pButton label="+ Create SI" (click)="CreateNewSI()"
                class=" mr-3 bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-800  "></button>
        </div>
    </div>

    <div class="m-6 bg-white border-round-3xl">
        <div class="p-5">
            <div class="flex gap-4" style=" justify-content: center;">
                <div class="col-5 ">
                    <p-panel class="left-panel ">
                        <ng-template pTemplate="header">
                            <span class="p-panel-title" style="padding: 1px">All Sales Invoices</span>
                        </ng-template>
                        <ng-template pTemplate="content">
                            <div class="left-panel-content">
                                <br />
                                <!-- <div class="left-panel-content"> -->
                                <div *ngFor="let item of allSIs" class="order-list"
                                    [ngClass]="{ 'bg-gray-100': activeInvoice.id === item.id }">
                                    <div class="list-item" (click)="changeOrder(item)">
                                        <div class="flex w-full">
                                            <div class=" col-2 justify-center align-center">
                                                <div class=" person-icon">{{
                                                    item.vendor?.firstName.charAt(0) +
                                                    item.vendor?.lastName.charAt(0) }}</div>
                                            </div>
                                            <div class=" col-10">
                                                <div class="text-base "><b>{{ item.invoiceNo }}</b></div>
                                                <div class="flex gap-2 " *ngIf="item.vendor">
                                                    <div class="col-8 font-italic text-base">
                                                        {{ item.vendor?.firstName }} {{ item.vendor?.lastName }}
                                                    </div>
                                                    <div class="col-4 text-base text-right">
                                                        <b>₹: </b>{{item.grossTotal}}
                                                    </div>
                                                </div>
                                                <div class="flex gap-2" *ngIf="item.customer">
                                                    <div class="col-8 font-italic text-base" *ngIf="item.customer">
                                                        {{ item.customer?.displayName }}
                                                    </div>
                                                    <div class="col-4 text-base text-right">
                                                        <b>₹: </b>{{item.grossTotal}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center m-5" *ngIf="allSIs.length === 0">
                                    No Sales Invoice Available
                                </div>
                            </div>
                        </ng-template>
                        <p-footer> Total: {{ this.totalRecords}} </p-footer>
                    </p-panel>
                </div>

                <div class="col-7">
                    <p-panel>
                        <ng-template pTemplate="header">
                            <div class="w-full">
                                <div class="grid m-0">
                                    <div class="col-6 p-0">
                                        <span class="p-panel-title">Sales Invoice</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <div class="right-panel-content">
                            <div class="text-center m-5" *ngIf="!activeInvoice.id">
                                <img src="assets/empty.svg" width="250" /><br />
                                Select Sales Invoice
                            </div>
                            <div *ngIf="activeInvoice.id">
                                
                                <!-- <div class="flex bg-gray-700 gap-3 rounded-div1 mr-3 p-3 ">
                                    <div class="field col-7  ml-3 ">
                                        <h4 class="text-gray-200">Payment Activity</h4>
                                        <h4 class="text-white">#{{this.activeInvoice.salesOrder?.documentno}}
                                        </h4>

                                        <div class="flex gap-5 bg-white rounded-div mt-3 justify-center">
                                            <div class="field col-6 ml-3">
                                                <h5>Current Due</h5>
                                                <h4 class="text-red-700 text-lg"><b>₹ {{this.currentDue}}</b></h4>
                                            </div>
                                            <div class="field col-6">
                                                <h5>Total Amount</h5>
                                                <h4 class="text-lg"><b>₹ {{this.activeInvoice.grossTotal}}</b></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field col-4 bg-gray-700">
                                        <div class=" bg-red-400 rounded-div mt-2">
                                            <h4 class="text-white text-center">Status: {{this.activeInvoice.status}}
                                            </h4>
                                        </div>
                                        <div>
                                            <div class="mt-4">
                                                <h5 class="text-white">Invoice Date: {{ this.activeInvoice.invoiceDate |
                                                    date : "short"}}</h5>
                                                <hr class="border-gray-200">
                                                <h5 class="text-white">Due Date: Nil</h5>
                                            </div>
                                        </div>
                                    </div>

                                </div> -->

                                <div class="flex bg-gray-700 gap-3 rounded-div1 mr-3 p-2 ">
                                    <div class="field col-7  ml-3 ">
                                        <h4 class="text-gray-200">Payment Activity</h4>
                                        <h4 class="text-white">#{{this.activeInvoice.salesOrder?.documentno}}
                                        </h4>

                                        <div class="flex gap-5 bg-white rounded-div1 mt-3 ">
                                            <div class="field col-6">
                                                <h5>Current Due</h5>
                                                <h4 class="remainAmount text-lg">₹ {{this.currentDue}}</h4>
                                            </div>
                                            <div class="field col-6">
                                                <h5>Total Amount</h5>
                                                <h4 class="text-lg">₹ {{this.activeInvoice.grossTotal}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field col-4 bg-gray-700">
                                        <div class=" bg-red-100 mt-2 ml-2 mr-2 rounded-div1">
                                            <h4 class="text-center text-red-400 text-base">Status: {{this.activeInvoice.status}}
                                            </h4>
                                        </div>
                                        <div>
                                            <div class="mt-5">
                                                <h5 class="text-white">Invoice Date: {{ this.activeInvoice.invoiceDate |
                                                    date:'yyyy-MM-dd' }}</h5>
                                                <hr class="border-gray-200">
                                                <h5 class="text-white">Due Date: Nil</h5>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="flex mt-3">
                                    <div class="field col-8">
                                        <h4 class="text-blue-700">Sales Invoice Details:</h4>
                                    </div>
                                    <!-- <div class="field col-1">
                                        <button pButton type="button" icon="pi pi-pencil"
                                            (click)="onEditSI(activeInvoice.id)"></button>
                                    </div> -->
                                </div>
                                <div class="flex">
                                    <div class="field col-6">
                                        <label class="mr-3 text-blue-500">Sales Invoice:</label>
                                        <h5>#{{ this.activeInvoice.invoiceNo}}</h5>
                                    </div>

                                    <div class="field col-6">
                                        <label class="mr-3 text-blue-500">Invoice Date:</label>
                                        <h5>{{ this.activeInvoice.invoiceDate | date : "short"}}</h5>
                                    </div>
                                </div>

                                <div class="flex">
                                    <div class="field col-6">
                                        <label class="mr-3 text-blue-500">Sales Order Details</label>
                                        <h5>Order Number: {{this.activeInvoice.salesOrder?.documentno}}
                                        </h5>
                                    </div>
                                    <div class="field col-6">
                                        <label class="mr-3 text-blue-500">Vendor Invoice Details:</label>
                                        <h5>Invoice Number: {{this.activeInvoice.vendorInvoice?.documentnumber}}</h5>
                                    </div>
                                    <br>
                                </div>

                                <hr class="border-l-neutral-600">
                                <div class="flex gap-2">
                                    <div class="field col-7">
                                        <!-- <h4 class="text-blue-500">Bill From</h4> <br>  -->
                                        <label class="mr-3 text-blue-500">Bill From:</label>
                                        <h5>{{this.activeInvoice.vendor?.address?.billingName}}</h5>
                                        <h5>{{this.activeInvoice.vendor?.address?.billingAddress}}</h5>
                                        <h5>{{this.activeInvoice.vendor?.address?.city}}
                                            ,{{this.activeInvoice.vendor?.address?.pincode}}</h5>
                                    </div>
                                    <div class="field col-4">
                                        <!-- <h4 class="text-blue-500">Place Of Supply</h4>  -->
                                        <label class="mr-3 text-blue-500">Place Of Supply</label>
                                        <h5>{{this.activeInvoice.salesOrder?.placeOfSupply?.stateName}}</h5><br>
                                    </div>
                                </div>

                                <hr class="border-l-neutral-600">

                                <div>
                                    <p-table [value]="lineitems">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>Item Detils</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Discount</th>
                                                <th>Total</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template let-lineItem pTemplate="body">
                                            <tr>
                                                <td>{{ lineItem.expenseName?.name }}</td>
                                                <td>{{ lineItem.unitPrice }}</td>
                                                <td>{{ lineItem.quantity }}</td>
                                                <td>{{ lineItem.discount }}</td>
                                                <td>{{ lineItem.amount }}</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>

                                    <!-- <div class="flex mt-5">
                                        <div class="field col-6">

                                        </div>
                                        <div class="field col-6">
                                            <label class="mr-3">SubTotal:<b> {{this.siSubTotal}}</b> </label>

                                            <hr>
                                            <label class="mr-3">Total:<b> {{this.siSubTotal}}</b> </label>
                                        </div>
                                    </div> -->
                                    <div class=" border-200 text-right mr-6 mb-3 mt-3">
                                        <div class="text-lg">
                                            SUB TOTAL: ₹ {{this.siSubTotal}}
                                        </div> <br>
                                        <div class="text-lg">
                                            TOTAL: ₹ {{this.siSubTotal}}
                                        </div>
                                    </div>
                                </div>

                                <div class="flex">
                                    <div class="field col-10">
                                        <h4 class="text-blue-600">Status:</h4>
                                        <p>{{this.activeInvoice.status}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <p-footer>
                                </p-footer> -->
                    </p-panel>
                </div>
            </div>


        </div>
    </div>
</div>
<p-blockUI [blocked]="submitted">
    <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
</p-blockUI>