<p-toast></p-toast>

<div>

    <div class="flex n ">
        <div class="field col-6">
            <div class="m-6 bg-white border-round-3xl">
                <div class="p-6 text-center">
                    <img src="/assets/makePayment.png" alt="Image" class="w-3 h-auto">
                    <p class="text-2xl">Paying to <b>Your Loan Account</b></p>
                    <p class="text-2xl">456789052994</p>
                    <p class="text-2xl">banking name: Dharshana.s.S</p>

                    <input pInputText placeholder="Enter Amount" [disabled]="!isClass2Applied"
                     [(ngModel)]="enteredAmount" class="w-full custom-input text-center" />

                    <button type="button" pButton label="Proceed To Pay"  
                    (click)="rightPart()"
                        [disabled]="!enteredAmount" *ngIf="isClass2Applied"
                        class="mt-3 text-xl  bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-600 "></button>
                </div>
            </div>
        </div>

        <!-- <div [ngClass]="{'class1': isClass1Applied, 'class2': isClass2Applied}">
            [ngclass] ="{'col-6': isClass1Applied , 'disabled-overlay'  : isClass2Applied  }" 
          </div>
          
          <button (click)="toggleClass1()">Toggle Class 1</button>
          <button (click)="toggleClass2()">Toggle Class 2</button> -->

        <div [ngClass]="{'col-6': isClass1Applied, 'disabled-overlay': isClass2Applied}">
            <div class="m-6 bg-white border-round-3xl">
                <div class="p-6">
                    <p-panel class="">
                        <ng-template pTemplate="header" >
                            <span class="p-panel-title" style="padding: 1px">Account</span>
                        </ng-template>
                        <p class="text-lg">Business Account</p>
                        <p class="text-sm">A/c NO: 401692342987</p>

                        <p-dropdown [options]="paymentMethods" placeholder="Select Payment Method" optionLabel="name"
                            optionValue="name" [(ngModel)]="choosedM" [showClear]="true" styleClass="w-full">
                        </p-dropdown>

                    </p-panel>

                    <div class="mt-8">

                        <div class=" text-center">
                            <button type="button" pButton label="Cancel" (click)="rightPart()"
                            class=" p-button-secondary "></button><br>
                            <button type="button" pButton label="Pay" (click)="makePayment()"
                            class="mt-2   bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-600 "></button>
                        </div>

                    </div>
                    

                </div>
            </div>
        </div>
    </div>

</div>

<p-blockUI [blocked]="submitted">
    <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
</p-blockUI>