<p-toast></p-toast>
<div class="">
    <div class="bg-white">
        <div class="border-bottom-1 border-200 text-right p-3">
            <button type="button" pButton label="+ Create PO" (click)="CreateNewPO()"
                class=" mr-3 bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-800  "></button>
        </div>
    </div>

    <div class="m-6 bg-white border-round-3xl">
        <div class="p-5">
            <div class="flex gap-4" style=" justify-content: center;">
                <div class="col-5">
                    <p-panel class="left-panel ">
                        <ng-template pTemplate="header">
                            <span class="p-panel-title" style="padding: 1px">Sent to</span>
                        </ng-template>
                        <ng-template pTemplate="content">
                            <div class="left-panel-content">
                                <br />
                                <!-- <div class="left-panel-content"> -->
                                <div *ngFor="let item of allPOs" class="order-list"
                                    [ngClass]="{ 'bg-gray-100': activeOrder.id === item.id }">
                                    <div class="list-item" (click)="changeOrder(item)">
                                        <div class="flex w-full">
                                            <div class=" col-2  justify-center align-center">
                                                <div class="person-icon">{{
                                                    item.vendor?.firstName.charAt(0) +
                                                    item.vendor?.lastName.charAt(0) }}</div>
                                            </div>
                                            <div class=" col-10">
                                                <div class="text-base"><b>{{ item.orderNumber }}</b></div>
                                                <div class="flex gap-2 " *ngIf="item.vendor">
                                                    <div class="col-8 font-italic text-base  ">
                                                        {{ item.vendor?.firstName }} {{ item.vendor?.lastName }}
                                                    </div>
                                                    <div class="col-4 text-base text-right">
                                                        <b>₹: </b>{{item.grossTotal}}
                                                    </div>
                                                </div>
                                                <div class="flex gap-2" *ngIf="item.customer">
                                                    <div class="col-6 font-italic text-base mt-2 mb-2 ml-3"
                                                        *ngIf="item.customer">
                                                        {{ item.customer?.displayName }}
                                                    </div>
                                                    <div class="col-4 text-base mt-2 mb-2 ">
                                                        <b>₹: </b>{{item.grossTotal}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                </div>

                                <div class="text-center m-5" *ngIf="allPOs.length === 0">
                                    No Purchase Order Available
                                </div>
                            </div>
                        </ng-template>
                        <p-footer> Total: {{ this.totalRecords}} </p-footer>
                    </p-panel>
                </div>

                <div class="col-7  ">
                    <p-panel>
                        <ng-template pTemplate="header">
                            <div class="w-full">
                                <div class="grid m-0">
                                    <div class="col-6 p-0">
                                        <span class="p-panel-title">Purchase Order</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <div class="right-panel-content">
                            <div class="text-center m-5" *ngIf="!activeOrder.id">
                                <img src="assets/empty.svg" width="250" /><br />
                                Select Purchase Order
                            </div>
                            <div *ngIf="activeOrder.id">
                                <!-- <h3 class="text-lg ">Purchase Order Details</h3>
                                        <br> -->
                                <div class="flex">
                                    <div class="field col-8">
                                        <h4 class="text-blue-700">Purchase Order Details:</h4>
                                    </div>
                                    <div class="field col-4 text-right">
                                        <button pButton type="button" icon="pi pi-pencil"
                                            (click)="onEditPO(activeOrder.id)"></button>
                                    </div>
                                </div>
                                <div class="flex">

                                    <div class="field col-6">
                                        <label class="mr-3 text-blue-500">Purchase Order Number:</label>
                                        <h5>#{{ this.activeOrder.orderNumber}}</h5>
                                    </div>

                                    <div class="field col-3">
                                        <label class="mr-3 text-blue-500">Issue on:</label>
                                        <h5>{{ this.activeOrder.orderDate | date : "short"}}</h5>
                                    </div>

                                    <div class="field col-3">
                                        <label class="mr-3 text-blue-500">Due Date:</label>
                                        <h5>{{ this.activeOrder.dueDate | date : "short"}}</h5>
                                    </div>
                                </div>
                                <hr class="border-l-neutral-600">
                                <div class="flex gap-3">
                                    <div class="field col-7">
                                        <label class="mr-3  text-blue-500">Bill From</label><br>
                                        <h5>{{this.activeOrder.vendor?.address?.billingName}}</h5>
                                        <h5>{{this.activeOrder.vendor?.address?.billingAddress}}</h5>
                                        <h5>{{this.activeOrder.vendor?.address?.city}}
                                            ,{{this.activeOrder.vendor?.address?.pincode}}</h5>
                                    </div>
                                    <div class="field col-4">
                                        <label class="mr-3  text-blue-500">Place Of Supply</label><br>
                                        <h5>{{this.activeOrder.placeOfSupply?.stateName}}</h5><br>
                                    </div>
                                </div>

                                <div>
                                    <p-table [value]="lineitems">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>Item Detils</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Discount</th>
                                                <th>Total</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template let-lineItem pTemplate="body">
                                            <tr>
                                                <td>{{ lineItem.expenseName?.name }}</td>
                                                <td>{{ lineItem.unitPrice }}</td>
                                                <td>{{ lineItem.quantity }}</td>
                                                <td>{{ lineItem.discount }}</td>
                                                <td>{{ lineItem.amount }}</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>

                                    <div class=" border-200 text-right mr-6 mb-3 mt-3">
                                        <div class="text-lg">
                                            SUB TOTAL: ₹ {{this.poSubTotal}}
                                        </div> <br>
                                        <div class="text-lg">
                                            TOTAL: ₹ {{this.poSubTotal}}
                                        </div>
                                    </div>


                                </div>

                                <div class="flex gap-2 w-full">
                                    <div class="field col-5">
                                        <label class="mr-3  text-blue-500">Description</label><br>
                                        <p>{{this.activeOrder.description}}</p>
                                    </div>
                                    <div class="field col-5">
                                        <label class="mr-3  text-blue-500">Internal Notes:</label><br>
                                        <p>{{this.activeOrder.internslNotes}}</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- <p-footer>
                                </p-footer> -->
                    </p-panel>
                </div>

            </div>
        </div>

    </div>
</div>
<p-blockUI [blocked]="submitted">
    <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
</p-blockUI>