<p-breadcrumb [home]="home" [model]="items" styleClass="border-0"></p-breadcrumb>
<div class="card">
    <!-- <div class="flex align-items-center justify-content-between"> -->
        <h2 class="p-2">Manage Customers</h2>
    <!-- </div> -->

            <!-- <p-fileUpload mode="basic" accept=".csv" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
                class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->


    <p-table #dt [value]="customers" [rows]="10" [paginator]="true" [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[10,25,50]" [lazy]="true" (onLazyLoad)="loadPage($event)"
        styleClass="p-datatable-gridlines" [globalFilterFields]="['customerIdentifier','customerCode', 'customerName','phone']"
        responsiveLayout="scroll" [(selection)]="selectedCustomers" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <div>
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                    (click)="openNew()"></button>
                <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                    (click)="deleteSelectedCustomers()"
                    [disabled]="!selectedCustomers || !selectedCustomers.length"></button>
                </div>
                <div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                            placeholder="Search..." />
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>

                <th pSortableColumn="customerName">Customer Name <p-sortIcon field="customerName"></p-sortIcon>
                </th>
                <th pSortableColumn="phone">Phone <p-sortIcon field="phone"></p-sortIcon>
                </th>
                <!-- <th>Phone</th> -->
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>
                    <p-tableCheckbox [value]="customer"></p-tableCheckbox>
                </td>
                <td>{{customer.firstName}} {{customer.lastName}}</td>
                <td>{{ customer.phone }}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-text p-button-info p-0 mr-2"
                        (click)="editCustomer(customer)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-text p-button-danger p-0"
                        (click)="deleteCustomer(customer)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{customers ? customers.length : 0 }} Customers.
            </div>
        </ng-template>
    </p-table>
</div>
<form #f="ngForm">
    <p-sidebar position="right" [(visible)]="customerDialog" header="Customer Type" [modal]="true"
        styleClass="p-sidebar-md" [modal]="true">
        <h2>Customer</h2>
        <form [formGroup]="customerForm">
            <div class="field">
                <label for="company">Customer Company</label>
                <ng-container formGroupName="company">
                    <p-dropdown id="company" [options]="companies" formControlName="id" optionLabel="companyName"
                        optionValue="id" [style]="{'minWidth':'100%'}" appendTo="body"
                        placeholder="Select a Customer Company" [required]="true">
                    </p-dropdown>
                </ng-container>
                <!-- <error-message [controlName]="customerForm.controls['company']"></error-message> -->
            </div>
            <div class="field">
                <label for="user">Customer User</label>
                <p-dropdown id="user" [options]="users" optionLabel="userName" [style]="{'minWidth':'100%'}"
                    appendTo="body" placeholder="Select a Customer User" [required]="true">
                </p-dropdown>

            </div>
            <div class="field">
                <label for="customerName">Customer Firstname</label>
                <input type="text" pInputText formControlName="firstName" class="w-full" required
                    pattern="^[a-zA-z]+([\s][a-zA-Z]+)*$" minlength="1" maxlength="255" />
                <error-message [controlName]="customerForm.controls['firstName']"></error-message>
            </div>
            <div class="field">
                <label for="lastName">Customer Lastname</label>
                <input type="text" pInputText formControlName="lastName" class="w-full" required
                    pattern="^[a-zA-z]+([\s][a-zA-Z]+)*$" minlength="1" maxlength="255" />
                <error-message [controlName]="customerForm.controls['lastName']"></error-message>

            </div>
            <div class="field">
                <label for="phone">Customer Phone</label>
                <input type="text" pInputText formControlName="phone" class="w-full" minlength="10" maxlength="10"
                    [pKeyFilter]="'int'" required />
                <error-message [controlName]="customerForm.controls['phone']"></error-message>
            </div>
            <div class="field">
                <label for="email">Customer Email</label>
                <input type="text" pInputText formControlName="email" class="w-full" required email minlength="6"
                    maxlength="60" />
                <error-message [controlName]="customerForm.controls['email']"></error-message>
            </div>

            <div class="text-right">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-secondary"
                    (click)="hideDialog()"></button>&nbsp;
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button" (click)="saveCustomer()"
                    [disabled]="!customerForm.valid"></button>
            </div>
        </form>
    </p-sidebar>
</form>
