<p-toast></p-toast>

<div class="">
    <div class="bg-white">
        <div class="border-bottom-1 border-200 text-right p-3">
            <button type="button" pButton label="+ Create Return & Refund Order" (click)="CreateNewReturnRefund()"
                class="mr-3 bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-800 "></button>
        </div>
    </div>

    <div class="m-6 bg-white border-round-3xl">
        <div class="p-5">
            <div class="flex gap-4" style=" justify-content: center;">

                <div class="col-5">
                    <p-panel class="left-panel">
                        <ng-template pTemplate="header">
                            <span class="p-panel-title" style="padding: 1px">Return & Refund Orders</span>
                        </ng-template>
                        <ng-template pTemplate="content">
                            <div class="left-panel-content">
                                <br />

                                <div *ngFor="let item of allRROrder" class="order-list"
                                    [ngClass]="{ 'bg-gray-100': activeRR.id === item.id }">
                                    <div class=" list-item" (click)="changeOrder(item)">
                                        <div class="flex w-full">

                                            <div class="col-2  justify-center align-center">
                                                <div class="person-icon">{{
                                                    item.salesOrder?.vendor?.firstName.charAt(0) +
                                                    item.salesOrder?.vendor?.lastName.charAt(0) }}</div>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-base"><b>{{ item.documentNo }}</b></div>
                                                <div class="flex gap-2 ">
                                                    <div class="col-8 font-italic text-base">
                                                        {{ item.salesOrder?.vendor?.firstName }} {{ item.salesOrder?.vendor?.lastName }}
                                                    </div>
                                                    <div class="col-4   text-base text-right">
                                                        <b>₹: </b>{{item.grossTotal}}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="text-center m-5" *ngIf="allRROrder.length === 0">
                                    No Return & Refund Available
                                </div>
                            </div>
                        </ng-template>
                        <p-footer> Total: {{ this.totalRecords}} </p-footer>
                    </p-panel>
                </div>

                <div class="col-7">
                    <p-panel>
                        <ng-template pTemplate="header">
                            <div class="w-full">
                                <div class="grid m-0">
                                    <div class="col-6 p-0">
                                        <span class="p-panel-title">Return & Refund Order Details</span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <div class="right-panel-content">
                            <div class="text-center m-5" *ngIf="!activeRR.id">
                                <img height="500px" width="600px" src="/assets/CM.png" alt="Image" class="">

                                <!-- <img src="assets/empty.svg" width="250" /><br />
                                Select Return and Refund Order -->
                            </div>
                            <div *ngIf="activeRR.id">
                                <div class="flex">
                                    <div class="field col-11">
                                        <h4 class="text-blue-700">Return and Refund Details:</h4>
                                    </div>
                                    <div class="field col-1">
                                        <button pButton type="button" icon="pi pi-pencil"
                                            (click)="onEditRR(activeRR.id)"></button>
                                    </div>
                                </div>
                                <div class="flex">
                                    <div class="field col-6">
                                        <label class="mr-3 text-blue-500">Return & Refund Number:</label>
                                        <h5>#{{ this.activeRR.documentNo}}</h5>
                                    </div>

                                    <div class="field col-4">
                                        <label class="mr-3 text-blue-500">Process on:</label>
                                        <h5>{{ this.activeRR.processDate | date : "short"}}</h5>
                                    </div>
                                </div>

                                <div class="flex">
                                    <div class="field col-6">
                                        <label class="mr-3 text-blue-500">Address</label>
                                        <h4>{{this.activeRR.salesOrder?.customer?.address?.billingName}} <br>
                                            {{this.activeRR.salesOrder?.customer?.address?.billingAddress}}<br>
                                            {{this.activeRR.salesOrder?.customer?.address?.city}},
                                            {{this.activeRR.salesOrder?.customer?.address?.pincode}}
                                        </h4>
                                        <br>
                                    </div>
                                </div>

                                <div>
                                    <p-table [value]="lineitems">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>Item Detils</th>
                                                <th>Price</th>
                                                <th>Quantity</th>
                                                <th>Discount</th>
                                                <th>Total</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template let-lineItem pTemplate="body">
                                            <tr>
                                                <td>{{ lineItem.expenseName?.name }}</td>
                                                <td>{{ lineItem.unitPrice }}</td>
                                                <td>{{ lineItem.quantity }}</td>
                                                <td>{{ lineItem.discount }}</td>
                                                <td>{{ lineItem.amount }}</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>

                                    <div class=" border-200 text-right mr-6 mb-3 mt-3">
                                        <div class="text-lg">
                                            SUB TOTAL: ₹ {{this.rrSubTotal}}
                                        </div> <br>
                                        <div class="text-lg">
                                            TOTAL: ₹ {{this.rrSubTotal}}
                                        </div>
                                    </div>

                                </div>

                                <div class="flex">
                                    <div class="field col-12">
                                        <label class="mr-3 text-blue-500">Reason:</label>
                                        <h5>{{ this.activeRR.reason}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-panel>
                </div>

            </div>
        </div>
    </div>
</div>

<p-blockUI [blocked]="submitted">
    <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
</p-blockUI>