.custom-button {
    background: #535353;
    border: #535353;
    ;
}

.custom-button:hover {
    background: #353434;
    border: #353434;
}

// Override the default text color
.custom-button .p-button-text {
    color: #ffffff;
}

// Override the default border radius
.custom-button {
    border-radius: 4px;
}

.order-list {
    .list-item {
        border-bottom: 1px solid #eeeeee;
    }

    .list-item:hover {
        background-color: #eeeeee;
        cursor: pointer;
    }
}

.left-panel-content {
    // height: 810px;
    height: 580px;
    overflow-y: scroll;
}

.right-panel-content {
    // height: 773.5px;
    height: 580px;
    overflow-y: scroll;
}

:host::ng-deep {
    .left-panel {
        .p-panel-content {
            padding: 0;
        }
    }
}

.invoice-box {
    margin: auto;
    line-height: 24px;
    color: #555;
}

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}

.iconSCSS {
    display: flex;
    align-items: center;
    justify-content: end;
}

.blueText {
    color: #1560E0;
}

.person-icon {
    width: 45px;
    height: 45px;
    background-color: white;
    color: black;
    border-radius: 50%;
    border: 1px solid rgb(122, 120, 120);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.rounded-div1 {
    border: 3px solid #0000;
    border-radius: 8px;
}

.rounded-div {
    border: 1px solid #ffff;
    border-radius: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 !important;
    padding: 0 !important;
}

.custom-hr {
    border: none;
    border-top: 1px solid lightgray;
    margin: 3px 0;
}

.remainAmount {
    color: #f55a69;
}

.iconSCSS1 {
    display: flex;
    align-items: center;
    // justify-content: end;
}