.left-panel {
    min-height: 1000px;
    background: url('^assets/SignUp.png');
    background-size: cover;
    background-position: -600px;
}

.caption-text {
    margin: 50px 60px;
    color: #333333;
}