<p-breadcrumb [home]="home" [model]="items" styleClass="border-0"></p-breadcrumb>
<div class="card">
    <h2 class="p-2">Manage Products</h2>

    <p-table #dt [columns]="cols" [value]="distributorCatalogs" [rows]="10" [paginator]="true" [lazy]="true"
        (onLazyLoad)="loadPage($event)" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,25,50]"
        responsiveLayout="scroll" [filterDelay]="500" [(selection)]="selectedDistributorCatalogs" [rowHover]="true"
        dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <div>
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                        (click)="openNew()"></button>
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                        (click)="deleteSelectedDistributorCatalogs()"
                        [disabled]="!selectedDistributorCatalogs || !selectedDistributorCatalogs.length"></button>
                </div>
                <div class="flex align-items-center justify-content-between">
                    <p-button styleClass="p-button-link" class="mr-2" (click)="downloadTemplate()">Catalog Upload
                    </p-button>

                    <p-fileUpload mode="basic" name="file" [url]="distributorCatalogUploadUrl" accept=".csv"
                        [maxFileSize]="1000000" [auto]="true" label="Import" chooseLabel="Import"
                        class="mr-2 inline-block" (onUpload)="importResponseHandler($event)"
                        (onError)="importErrorHandler($event)">
                    </p-fileUpload>
                    <!-- <button pButton pRipple label="Export" icon="pi pi-upload" (click)="dt.exportCSV()"
                        class="p-button-help mr-2"></button> -->
                    <button pButton pRipple label="Export" icon="pi pi-upload" (click)="exportExcel()"
                        class="p-button-help mr-2"></button>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event, 'contains')"
                            placeholder="Search..." />
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>

                <th pSortableColumn="product.name">Product <p-sortIcon field="product.name">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="product.mrp">MRP <p-sortIcon field="product.mrp">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="landingCost">Landing Cost <p-sortIcon field="landingCost">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="sellingPrice">Selling Price <p-sortIcon field="sellingPrice">
                    </p-sortIcon>
                </th>
                <!-- <th>MRP</th> -->
                <!-- <th>Landing Cost</th> -->
                <!-- <th>Selling Price</th> -->
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-distributorCatalog>
            <tr>
                <td>
                    <p-tableCheckbox [value]="distributorCatalog"></p-tableCheckbox>
                </td>
                <td>{{distributorCatalog.product?.name}}</td>
                <td>{{distributorCatalog.product?.mrp}}</td>
                <td>{{distributorCatalog.landingCost}}</td>
                <td>{{distributorCatalog.sellingPrice}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-text p-button-info p-0 mr-2"
                        (click)="editDistributorCatalog(distributorCatalog)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-text p-button-danger p-0"
                        (click)="deleteDistributorCatalog(distributorCatalog)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{distributorCatalogs ? distributorCatalogs.length : 0 }} Distributor Catalog.
            </div>
        </ng-template>
    </p-table>
</div>