<p-breadcrumb [home]="home" [model]="items" styleClass="border-0"></p-breadcrumb>
<div class="card">
    <h2 class="p-2">Manage Tables</h2>

    <p-table #dt [value]="posmachines" [rows]="10" [filterDelay]="500" [paginator]="true" [lazy]="true"
        (onLazyLoad)="loadPage($event)" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,25,50]"
        responsiveLayout="scroll" [(selection)]="selectedPosmachines" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <div>
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                        (click)="openNew()"></button>
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                        (click)="deleteSelectedPosmachines()"
                        [disabled]="!selectedPosmachines || !selectedPosmachines.length"></button>
                </div>
                <div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event, 'contains')"
                            placeholder="Search..." />
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <!-- <th>Posmachine Search Key</th> -->
                <th pSortableColumn="searchKey">Table Code <p-sortIcon field="searchKey"></p-sortIcon>
                </th>
                <th pSortableColumn="name">Table Name <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-posmachine>
            <tr>
                <td>
                    <p-tableCheckbox [value]="posmachine"></p-tableCheckbox>
                </td>
                <td>{{posmachine.tableCode}}</td>
                <td>{{posmachine.tableName}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-text p-button-info p-0 mr-2"
                        (click)="editPosmachine(posmachine)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-text p-button-danger p-0"
                        (click)="deletePosmachine(posmachine)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{posmachines ? posmachines.length : 0 }} POS Machines.
            </div>
        </ng-template>
    </p-table>
</div>
<form #f="ngForm">
    <p-sidebar position="right" [(visible)]="posmachineDialog" header="Pos Machine" [modal]="true"
        styleClass="p-sidebar-md">
        <h2>Tables</h2>
        <!-- <ng-template pTemplate="content"> -->
        <div class="field p-fluid">
            <label for="tableCode">Table Code</label>
            <input type="text" pInputText name="tableCode" #tableCode="ngModel" [(ngModel)]="posmachine.tableCode"
                required />
            <error-message [controlName]="tableCode"></error-message>
        </div>
        <div class="field p-fluid">
            <label for="tableName">Table Name</label>
            <input type="text" pInputText name="tableName" #tableName="ngModel" [(ngModel)]="posmachine.tableName"
                required />
            <error-message [controlName]="tableName"></error-message>
        </div>

        <!-- </ng-template> -->

        <!-- <ng-template pTemplate="footer"> -->
        <div class="text-right">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-secondary"
                (click)="hideDialog()"></button>&nbsp;
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-info" (click)="savePosmachine()"
                [disabled]="!f.valid"></button>
        </div>

        <!-- </ng-template> -->
    </p-sidebar>
</form>