<p-toast></p-toast>

<div *ngIf="!createNew" class="pb-2 pt-2" style="background: #EFF6FF;">
    <div class="m-6 mb-8  border-round-3xl bg-white">
        <div class="center-container mt-1">
            <div class="field col-2"></div>
            <div class="field col-8">
                <div class="text-center">
                    <img src="/assets/RN.png" width="430" height="auto">
                </div>
                <div class="text-center">
                    <p><b>Ready to keep track of your financial transactions?</b></p> <br>
                    <p>Start by creating your first Goods Shipment.</p>
                </div>
                <div class="text-center mt-3">
                    <button type="button" pButton label="Create Goods Shipment" (click)="createGS()"
                        class="mb-3 text-lg Btn"></button>
                </div>
            </div>
            <div class="field col-2"></div>
        </div>
    </div>
</div>

<div class="pb-2" style="background: #EFF6FF;">


    <div *ngIf="createNew">
        <div class="flex">
            <div class="col-4 ">
                <!-- <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb> -->
            </div>
        </div>

        <div class="m-6 bg-white border-round-3xl">
            <form (ngSubmit)="onSubmitGS()" [formGroup]="gsForm" class="p-6">
                <h4 class="text-lg textColor">Goods Shipment Details </h4> <br>

                <div class="flex gap-3">
                    <div class="field col-6">
                        <label class="mr-3 required">Shipment Date</label>
                        <p-calendar formControlName="shipmentDate" [showIcon]="true" dateFormat="dd-mm-yy"
                            placeholder="Choose Shipmenr Date" [style]="{ width: '100%' }">
                        </p-calendar>
                        <error-message [controlName]="gsForm.controls['shipmentDate']"></error-message>
                    </div>
                    <div class="field col-6">
                        <label class="mr-3">Shipment Number:</label>
                        <input pInputText value="{{this.gsForm.value.documentno}}" placeholder="Your Shipment Number"
                            class="w-full custom-input" [disabled]="true" />
                    </div>

                </div>

                <div class="flex gap-3">

                    <div class="field col-6 ">
                        <label class="mr-3 required">Vendor</label>
                        <ng-container formGroupName="vendor" class="w-full">
                            <p-dropdown [options]="vendors" [(ngModel)]="currentVendor.id" formControlName="id"
                                [appendTo]="'body'" [style]="{ width: '100%' }" class="fixed-width-dropdown"
                                optionLabel="firstName" optionValue="id" (onChange)="selectVendor()" [filter]="true"
                                filterBy="firstName" [showClear]="true" placeholder="Choose Vendor">
                                <ng-template pTemplate="currentVendor.id">
                                    <div class="flex align-items-center gap-2" *ngIf="currentVendor.id">
                                        <div>{{ currentVendor.firstName}} {{ currentVendor.lastName}}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-vendor pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <span class="font-semibold">{{ vendor.firstName }} {{ vendor.lastName
                                            }}</span><span>, (Mobile No: +91 {{vendor.mobileNumber}}) </span>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </ng-container>
                    </div>

                    <div class="field col-6" *ngIf="currentVendor.id">
                        <label class="mr-3 required">Purchase Order</label>
                        <ng-container formGroupName="purchaseOrder">
                            <div class="payment-dropdown ">
                                <p-dropdown [options]="allPo" placeholder="Choose Purchase Order" optionValue="id"
                                    formControlName="id" optionLabel="orderNumber" [showClear]="true"
                                    (onChange)="selectPO($event)" [style]="{ width: '100%' }">
                                </p-dropdown>
                            </div>
                        </ng-container>
                    </div>

                </div>

                <div class="border-bottom-1 border-200 text-right p-3" *ngIf="!id">
                    <button type="submit" pButton label="Save" [disabled]="!gsForm.valid"
                        class="mb-6 text-lg Btn "></button>
                </div>
            </form>

            <div *ngIf="id" class="pl-4 pr-4">

                <div>
                    <p-table [value]="lineitems">
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-blue-600 required">Item Detils</th>
                                <th class="text-blue-600 required">Price</th>
                                <th class="text-blue-600 required">Quantity</th>
                                <th class="text-blue-600">Discount</th>
                                <th class="text-blue-600">Total</th>
                            </tr>
                        </ng-template>
                        <ng-template let-lineItem pTemplate="body">
                            <tr>
                                <td>{{ lineItem.expenseName?.name }}</td>
                                <td>{{ lineItem.unitPrice }}</td>
                                <td>{{ lineItem.quantity }}</td>
                                <td>{{ lineItem.discount }}</td>
                                <td>{{ lineItem.amount }}</td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">
                                    <div class="text-center m-5">
                                        No line Items found.
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>

                    <div class=" border-200 text-right mr-6 mb-3 mt-3">
                        <div class="text-lg blueText">
                            SUB TOTAL: ₹ {{this.gsSubTotal}}
                        </div> <br>
                        <div class="text-lg blueText">
                            TOTAL: ₹ {{this.gsSubTotal}}
                        </div>
                    </div>
                </div>

                <form (ngSubmit)="onSubmitGSLine()" [formGroup]="gsLineForm" class="">
                    <h4 class="text-lg textColor">Line Items Details</h4>

                    <div class="flex mt-3 w-full">
                        <div class="field col-6">
                            <label class="mr-3 required ">Order Quantity</label>
                            <input pInputText [(ngModel)]="poLineItemsTotal" formControlName="orderedQty"
                                placeholder="Ordered Quantity" NumbersOnly class="w-full custom-input"
                                 />

                            <error-message [controlName]="gsLineForm.controls['orderedQty']"></error-message>

                            <div class="text-red-400 text-sm"
                                *ngIf="isQuantityExceededOrdered()">
                                <span>Order Quantity exceeded the limit {{this.currentLineTotal}}</span>
                            </div>
                        </div>

                        <div class="field col-6 ">
                            <label class="mr-3 required">Confirmed Quantity</label>
                            <input pInputText formControlName="confirmedQty" placeholder="Enter Confirmed Quantity"
                                 class="w-full custom-input" NumbersOnly />

                            <error-message [controlName]="gsLineForm.controls['confirmedQty']"></error-message>

                            <div class="text-red-400 text-sm"
                                *ngIf="isQuantityExceededConfirmed()">
                                <span>Confirmed Quantity exceeded the limit
                                    {{this.gsLineForm.controls['orderedQty'].value}}</span>
                            </div>
                        </div>

                    </div>

                    <div class="flex w-full">
                        <div class="field col-6">
                            <label class="mr-3 required">Shipped Quantity</label>
                            <input pInputText formControlName="shippedQty" placeholder="Enter Shipped Quantity"
                                 class="w-full custom-input" NumbersOnly />

                            <error-message [controlName]="gsLineForm.controls['shippedQty']"></error-message>

                            <div class="text-red-400 text-sm"
                                *ngIf="isQuantityExceededShip()">
                                <span>Shipped Quantity exceeded the limit
                                    {{this.gsLineForm.controls['confirmedQty'].value}}</span>
                            </div>
                        </div>
                    </div>

                </form>


                <div class="border-bottom-1 border-200 text-right p-3">
                    <button type="button" pButton label="Close" (click)="OnCancelGS()"
                        class="mr-3 p-button-secondary"></button>
                    <button type="button" pButton label="Save Goods Shipment" (click)="onSubmitGSLine()" 
                    [disabled]="buttonDisabled()"
                        class="mr-3 bg-blue-500 text-white px-4 py-2.5 rounded-md hover:bg-blue-600 "></button>
                </div>


            </div>

        </div>

    </div>
</div>

<p-blockUI [blocked]="submitted">
    <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
</p-blockUI>