/* Define the initial background color */
.hover-div {
     /* Replace with your desired background color */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    /* Other styles for your div */
  }
  
  /* Change the background color on hover */
  .hover-div:hover {
    background-color: #a6c9f0; /* Replace with the desired hover background color */
  }
  .p{
    margin: 0 !important;
  padding: 0 !important;
  }

  .iconSCSS {
    display: flex;
    align-items: center;
  //  justify-content: end;
}


//   .defaultSCSS {
    
// }

.onClickButton {
  //border-bottom: 2px solid blue;
  // border-bottom: 3px solid #3579F3;
  /* Change the bottom border color on hover (e.g., blue) */
  // color: white;
  background-color: rgb(169, 208, 240);
}