<p-breadcrumb [home]="home" [model]="items" styleClass="border-0"></p-breadcrumb>
<div class="card">
    <h2 class="p-2">Manage Roles</h2>

            <!-- <p-fileUpload mode="basic" accept=".csv" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
                class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->


    <p-table #dt [value]="roles" [rows]="10" [paginator]="true" [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[10,25,50]" [lazy]="true" (onLazyLoad)="loadPage($event)"
        [globalFilterFields]="['roleIdentifier','roleCode', 'roleName','description']" responsiveLayout="scroll"
        [(selection)]="selectedRoles" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <div>
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                        (click)="openNew()"></button>
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                        (click)="deleteSelectedRoles()" [disabled]="!selectedRoles || !selectedRoles.length"></button>
                </div>
                <div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                            placeholder="Search..." />
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>

                <th pSortableColumn="name">Role Name <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="description">Role <p-sortIcon field="description"></p-sortIcon>
                </th>
                <!-- <th>Role</th> -->
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-role>
            <tr>
                <td>
                    <p-tableCheckbox [value]="role"></p-tableCheckbox>
                </td>
                <td>{{role.name}}</td>
                <td>{{role.description}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-file" class="p-button-text p-button-info p-0 mr-2"
                        (click)="editPrivileges(role)"></button>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-text p-button-info p-0 mr-2"
                        (click)="editRole(role)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-text p-button-danger p-0"
                        (click)="deleteRole(role)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{roles ? roles.length : 0 }} Roles.
            </div>
        </ng-template>
    </p-table>
</div>
<form #f="ngForm">
    <p-dialog [(visible)]="roleDialog" [style]="{width: '450px'}" header="Role" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">
            <div class="field">
                <label for="roleName">Role Name</label>
                <input type="text" pInputText name="name" #name="ngModel" [(ngModel)]="role.name" required
                    pattern="^[a-zA-z]+([\s][a-zA-Z]+)*$" minlength="1" maxlength="255" />
                <error-message [controlName]="name"></error-message>
            </div>
            <div class="field">
                <label for="roleType">Role Type</label>
                <p-dropdown [options]="roleTypes" name="roleType" #roleType="ngModel" [(ngModel)]="role.roleType"
                    placeholder="Choose Role Type"></p-dropdown>
                <error-message [controlName]="roleType"></error-message>
            </div>
            <div class="field">
                <label for="description">Role Description</label>
                <input type="text" pInputText name="description" #description="ngModel" [(ngModel)]="role.description"
                    required />
                <error-message [controlName]="description"></error-message>
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-secondary"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button" (click)="saveRole()"
                [disabled]="!f.valid"></button>
        </ng-template>
    </p-dialog>
</form>
