<p-toast></p-toast>
<div class="align-items-center flex justify-content-center lg:px-8 md:px-6 px-4 py-8 surface-ground"
    style="min-height: 100vh;" *ngIf="!invalidLink && !failed">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-5">
        <div class="text-center mb-5" *ngIf="!resetPwd">
            <img src="assets/neologo.png" alt="Image" height="50" class="mb-3">
            <div class="text-900 text-3xl font-medium mb-3">Reset Password</div>
        </div>
        <div *ngIf="!resetPwd">
            <form (ngSubmit)="onSubmit()" [formGroup]="pwdForm">
                <div class="field">
                    <label for="username" class="block text-900 font-medium mb-2 text-left">New Password:</label>
                    <input pInputText type="password" formControlName="newPassword"
                        class="form-control inputfield w-full" name="login">
                    <error-message [controlName]="pwdForm.controls['newPassword']"></error-message>
                </div>

                <div class="field">
                    <label for="username" class="block text-900 font-medium mb-2 text-left">Confirm Password:</label>
                    <input pInputText type="password" formControlName="confirmPassword"
                        class="form-control inputfield w-full" name="login">
                    <error-message [controlName]="pwdForm.controls['confirmPassword']"></error-message>
                </div>

                <button pButton pRipple label="Reset Password" type="submit" icon="pi pi-user" class="w-full"
                    [disabled]="!pwdForm.valid || submitted"></button>
            </form>
            <div class="text-center mt-3"><span class="text-600 font-medium line-height-3">Want to try sign in
                    again?</span>
                <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/">Sign In
                    !</a>
            </div>
        </div>

        <div *ngIf="resetPwd">
            <div class="text-center">
                <img src="assets/neologo.png" alt="Image" height="50" class="mb-3">
                <div class="text-900 font-bold text-3xl mb-4 text-center">Password Reset Successful</div>
                <div class="text-700 text-xl mb-6 text-center line-height-3">You can login to your account now.
                    <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/">Sign In
                        !</a>
                </div>
                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                    <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                    <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                </svg>
            </div>
        </div>
    </div>

</div>
<div class="align-items-center flex justify-content-center lg:px-8 md:px-6 px-4 py-8 surface-ground"
    style="min-height: 100vh;" *ngIf="invalidLink || failed">
    <div class="text-center mb-5">
        <img src="assets/neologo.png" alt="Image" height="50" class="mb-3">
        <div class="text-900 text-3xl font-medium mb-3">Verify Reset Password</div>
        <div class="grid">
            <div class="col-12 text-center p-5">
                <img src="assets/taken.svg" width="300" />
                <div class="text-xl mt-5 text-700">
                    Oops, the link is invalid! Please retry reset password.

                </div>
                <div class="text-xl mt-5 text-700">
                    <a href="#" routerLink="/forgot-password">Retry Reset Password</a>
                </div>
            </div>
        </div>
    </div>
</div>
