.order-list {
    .list-item {
        border-bottom: 1px solid #eeeeee;
    }

    .list-item:hover {
        background-color: #eeeeee;
        cursor: pointer;
    }
}

.left-panel-content {
    // height: 810px;
    height: 580px;
    overflow-y: scroll;
}

.right-panel-content {
    padding: 0;
}

:host::ng-deep {
    .left-panel {
        .p-panel-content {
            padding: 0;
        }
    }
}

.invoice-box {
    margin: auto;
    line-height: 24px;
    color: #555;
}

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}

.rounded-div1 {
    border: 3px solid #0000;
    /* Set the border width and color as needed */
    border-radius: 8px;
    /* Adjust the border-radius to control the roundness */
    //padding: 5px; /* Add padding to the content inside the div if desired */

}

.rounded-div {
    border: 1px solid #ffff;
    border-radius: 8px;
}

.rounded-icon {

    border: 0.3px solid #1560E0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
    padding: 0 !important;
}

.rightP {
    margin: 0 !important;
    padding: 0 !important;
}

.leftP {
    margin: 0 !important;
    padding: 0 !important;
}

.remainAmount {
    color: #C22B39;
    //font-family: Red Hat Display;
}

.person-icon {
    width: 45px;
    height: 45px;
    background-color: white;
    /* Customize the background color as needed */
    color: black;
    /* Customize the text color as needed */
    border-radius: 50%;
    border: 1px solid rgb(122, 120, 120);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.leftStatus {
    color: #C22B39;
    // text-align: right;
    // font-family: Elza;
    // font-size: 12px;
    // font-style: normal;
    // font-weight: 400;
    // line-height: normal;
}

.iconSCSS {
    display: flex;
    align-items: center;
    justify-content: end;
}

.iconSCSS1 {
    display: flex;
    align-items: center;
    //justify-content: end;
}

.centerItem {
    align-items: center;
    justify-content: end;
}

.vertical-line {
    flex: 0 0 1px;
    /* Create a vertical line with a width of 1px */
    height: 100%;
    /* Match the height of the container */
    background-color: #ccc;
    /* Line color */
    margin: 0 10px;
    /* Optional: Adjust margin for spacing */
    content: '';
    /* Required for ::before pseudo-element */
}

.h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px !important;
    padding: 0px !important;
}

.blueText {
    color: #1560E0;
}

.greenText {
    color: #83D28F;
}

.rightMain {
    color: #C5C5C5;
}

.custom-hr {
    border: none;
    /* Remove the default border */
    border-top: 1px solid lightgray;
    /* Set the border color to light gray */
    margin: 3px 0;
    /* Add margin for spacing (adjust as needed) */
}

.button-container {
    display: flex;
    justify-items: center;
}

.defaultSCSS {
    background: none;
    color: black;
    border: none;
    border-bottom: 3px solid lightgrey;
    width: 100%;
    font-weight: 300;
    /* Remove the default button border */
    //border-bottom: 2px solid black; /* Add a transparent bottom border *//* Optional: Add spacing between buttons */
}

.onClickButton {
    //border-bottom: 2px solid blue;
    border-bottom: 3px solid #3579F3;
    /* Change the bottom border color on hover (e.g., blue) */
    color: #3579F3;
    background: none;
    font-weight: 600;
    /* Change the text color on hover (optional) */
}

.walletIcon {
    align-items: center;
    justify-content: center;
    text-align: center;
}

::ng-deep {
    .p-breadcrumb {
        border: none !important;
        margin-left: 25px;
        align-items: center;
    }
}

.bgColor {
    background: #EFF6FF;
}

.iconSCSS1 {
    display: flex;
    align-items: center;
    // justify-content: end;
}

.custom-button {
    background: #535353;
    border: #535353;;
  }
  .custom-button:hover {
    background: #353434;
    border: #353434;
  }
  // Override the default text color
  .custom-button .p-button-text {
    color: #ffffff;
  }
  
  // Override the default border radius
  .custom-button {
    border-radius: 4px;
  }

  .customerList{
    height: 46rem;
    overflow-y:scroll;
    padding-bottom: 2rem;
}

.orderInvList{
    height: 35rem;
    overflow-y:scroll;
    padding-bottom: 2rem;
}
