

.right-panel-content {
   padding: 0;
}

:host::ng-deep {
    .left-panel {
        .p-panel-content {
            padding: 0;
        }
    }
}

// more
.person-icon {
    width: 45px;
    height: 45px;
    background-color: white;
    /* Customize the background color as needed */
    color: black;
    /* Customize the text color as needed */
    border-radius: 50%;
    border: 1px solid rgb(122, 120, 120);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.dueAmount {
    color: #C22B39;
    font-family: Red Hat Display;
}

.iconSCSS {
    display: flex;
    align-items: center;
    justify-content: end;
}
.iconSCSS1 {
    display: flex;
    align-items: center;
   // justify-content: end;
}
.nameIcon{
    align-items: center;
    justify-content: center;
}

.h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px !important;
    padding: 0px !important;
}

.blueText {
    color: #3579F3;
    ;
    // font-family: Elza;
    // font-size: 12px;
    // font-style: normal;
    // font-weight: 400;
    // line-height: normal;
}

.custom-hr {
    border: none;
    /* Remove the default border */
    border-top: 1px solid lightgray;
    /* Set the border color to light gray */
    //margin: 3px 0; /* Add margin for spacing (adjust as needed) */
    margin-top: 2px;
    margin-bottom: 2px;
}

.payNow {
    // border-radius: 4px;
    background: #407BFF;
}

.paidBtn {
    background: #709844;
}



.iconSCSS1 {
    display: flex;
    align-items: center;
    // justify-content: end;
}
.raised-div {
   // background-color: #fff; // Set the background color as needed
    //padding: 20px; // Add padding for content
    //border-radius: 10px; // Add rounded corners
    box-shadow: 1px 1px 5px 1px rgba(197, 195, 195, 0.575); // Add a subtle shadow
  }


  .DNLeftList{
    height: 30rem;
    overflow-y:scroll;
    padding-bottom: 2rem;
}

.custom-button {
    background: #535353;
    border: #535353;
    ;
}

.custom-button:hover {
    background: #353434;
    border: #353434;
}

// Override the default text color
.custom-button .p-button-text {
    color: #ffffff;
}

// Override the default border radius
.custom-button {
    border-radius: 4px;
}