<p-dataView [value]="accounts" layout="grid">
    <ng-template pTemplate="header">
        <p-toolbar styleClass="border-none">
            <div class="p-toolbar-group-left">
                <span class="text-xl">Accounts</span>
            </div>
            <div class="p-toolbar-group-right">
                <p-button icon="pi pi-plus" label="Add New Account" [routerLink]="['/accounts/create']"
                    styleClass="p-button-success mr-3"></p-button>
                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
        </p-toolbar>
    </ng-template>
    <ng-template let-account pTemplate="listItem">
        <div class="w-full pt-5 pb-5">
            <div class="grid">
                <div class="col-3 text-center">
                    <img [src]="'assets/' + account.banklogo" [alt]="account.bankname" height="35" />
                </div>
                <div class="col-9">
                    <div class="pb-2"><label>Account Name: </label> {{ account.accountName }}</div>
                    <div class="pb-2">Account Number: {{ account.accountNo }}</div>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template let-account pTemplate="gridItem">
        <div class="text-center p-5" style="width: 50%;">
            <p-card>
                <div class="col-12">
                    <img [src]="'assets/' + account.banklogo" [alt]="account.bankname" height="80" />
                </div>
                <div class="mt-3 pb-2">{{ account.accountName }}</div>
                <div class="pb-2">{{ account.accountNo }}</div>
            </p-card>
        </div>
    </ng-template>
</p-dataView>