<div class="card">
    <p-breadcrumb [home]="home" [model]="items" styleClass="border-0"></p-breadcrumb>
    <div class="flex align-items-center justify-content-between">
        <h5 class="m-3" style="font-size:20px ;">Manage Store Customers</h5>
    </div>
    <!-- <p-toolbar> -->
    <!-- <ng-template pTemplate="right"> -->
    <!-- <p-fileUpload mode="basic" accept=".csv" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
                class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button> -->
    <!-- </ng-template> -->
    <!-- </p-toolbar> -->

    <p-table #dt [value]="storeCustomers" [filterDelay]="500" [rows]="10" [paginator]="true" [lazy]="true" (onLazyLoad)="loadPage($event)"
        [totalRecords]="totalRecords" [rowsPerPageOptions]="[10,25,50]" [filterDelay]="500" responsiveLayout="scroll"
        [(selection)]="selectedStoreCustomers" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <div>
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                        (click)="openNew()"></button>
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                        (click)="deleteSelectedStoreCustomers()"
                        [disabled]="!selectedStoreCustomers || !selectedStoreCustomers.length"></button>
                </div>
                <div class="flex align-items-center justify-content-between">
                    <h5 class="m-0"></h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event, 'contains')"
                            placeholder="Search..." />
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>

                <th pSortableColumn="firstName">Store Customer Name <p-sortIcon field="firstName"></p-sortIcon>
                </th>
                <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon>
                </th>
                <th pSortableColumn="phone">Phone <p-sortIcon field="phone"></p-sortIcon>
                </th>
                <!-- <th>Login Mobile</th> -->
                <!-- <th>Phone</th> -->
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-storeCustomer>
            <tr>
                <td>
                    <p-tableCheckbox [value]="storeCustomer"></p-tableCheckbox>
                </td>
                <td>{{storeCustomer.firstName}} {{storeCustomer.lastName}}</td>
                <td>{{storeCustomer.email}}</td>
                <td>{{ storeCustomer.phone }}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-text p-button-info p-0 mr-2"
                        (click)="editStoreCustomer(storeCustomer)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-text p-button-danger p-0"
                        (click)="deleteStoreCustomer(storeCustomer)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{storeCustomers ? storeCustomers.length : 0 }} Store Customers.
            </div>
        </ng-template>
    </p-table>
</div>
<form class="form" [formGroup]="storeCustomerForm" (ngSubmit)="saveStoreCustomer()">
    <p-sidebar position="right" [(visible)]="storeCustomerDialog" header="Store Customer" [modal]="true"
        styleClass="p-sidebar-md" [modal]="true">
        <h2>Store Customer</h2>

        <!-- <div class="field col">
            <label for="phone">Store Customer Login Mobile </label>
            <input id="phone" type="text" pInputText formControlName="phone" class="inputfield w-full"
                [pKeyFilter]="'int'" />
            <error-message [controlName]="storeCustomerForm.controls['phone']"></error-message>
        </div>
        <div class="field col">
            <label for="password">Store Customer Login Password </label>
            <input id="password" type="password" pInputText formControlName="password" class="inputfield w-full" />
            <error-message [controlName]="storeCustomerForm.controls['password']"></error-message>
        </div> -->
        <div class="field col">
            <label for="email">Store Customer Email </label>
            <input id="email" type="text" pInputText formControlName="email" class="inputfield w-full" />
            <error-message [controlName]="storeCustomerForm.controls['email']"></error-message>
        </div>

        <div class="field col">
            <label for="firstName">Store Customer Firstname </label>
            <input id="firstName" type="text" pattern="^[a-zA-z]+([\s][a-zA-Z]+)*$" pInputText formControlName="firstName" class="inputfield w-full" />
            <error-message [controlName]="storeCustomerForm.controls['firstName']"></error-message>
        </div>
        <div class="field col">
            <label for="lastName">Store Customer Lastname </label>
            <input id="lastName" type="text" pattern="^[a-zA-z]+([\s][a-zA-Z]+)*$" pInputText formControlName="lastName" class="inputfield w-full" />
            <error-message [controlName]="storeCustomerForm.controls['lastName']"></error-message>
        </div>
        <div class="field col">
            <label for="phone">Store Customer Phone </label>
            <input id="phone" type="text" pInputText formControlName="phone" minlength="10" maxlength="10" class="inputfield w-full" NumbersOnly />
            <error-message [controlName]="storeCustomerForm.controls['phone']"></error-message>
        </div>
        <div class="field col">
            <label for="gst">Store Customer GST Number </label>
            <input id="gst" type="text" pInputText formControlName="gst"
                pattern="^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$" class="inputfield w-full" />
            <error-message [controlName]="storeCustomerForm.controls['gst']"></error-message>
        </div>
        <!--        <div class="field p-fluid">
            <label for="password">Store Customer Login Password</label>
            <p-password name="password" #password="ngModel" [(ngModel)]="storeCustomer.user!.password" [toggleMask]="true"
                styleClass="w-full" minlength="8" maxlength="12"></p-password>
        </div>
        <div class="field">
            <label for="username">Store Customer Email</label>
            <input type="text" pInputText name="email" #email="ngModel" [(ngModel)]="storeCustomer.user!.email"
                class="w-full" minlength="15" maxlength="15" required />
            <error-message [controlName]="email"></error-message>
        </div>
        <div class="field">
            <label for="roles">Store Customer Roles</label>
            <p-multiSelect id="roles" [options]="roles" name="roles" [(ngModel)]="storeCustomer.user!.roles"
                optionLabel="name" [style]="{'minWidth':'100%'}" appendTo="body" placeholder="Select a User Role">
            </p-multiSelect>

        </div>
        <div class="field">
            <label for="storeUserName">Store Customer Firstname</label>
            <input type="text" pInputText name="firstName" #firstName="ngModel" [(ngModel)]="storeCustomer.firstName"
                class="w-full" minlength="6" maxlength="15" required />
            <error-message [controlName]="firstName"></error-message>
        </div>
        <div class="field">
            <label for="lastName">Store Customer Lastname</label>
            <input type="text" pInputText name="lastName" #lastName="ngModel" [(ngModel)]="storeCustomer.lastName"
                class="w-full" minlength="6" maxlength="15" required />
            <error-message [controlName]="lastName"></error-message>
        </div>
        <div class="field">
            <label for="lastName">Store Customer Phone</label>
            <input type="text" pInputText name="phone" #phone="ngModel" [(ngModel)]="storeCustomer.phone"
                [pKeyFilter]="'int'" [minlength]="10" [maxlength]="10" class="w-full" required />
            <error-message [controlName]="phone"></error-message>
        </div>

      -->

        <div class="text-right">
            <button pButton pRipple label="Cancel" type="button" icon="pi pi-times" class="p-button-secondary mr-2"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button" type="submit"
                [disabled]="!storeCustomerForm.valid"></button>
        </div>
    </p-sidebar>
</form>