<p-breadcrumb [home]="home" [model]="items" styleClass="border-0"></p-breadcrumb>
<div class="grid">
    <div class="col-4">
        <p-panel header="Sales Orders" class="left-panel">
            <ng-template pTemplate="content">
                <div class="left-panel-content">
                    <div class="p-fluid">
                        <p-selectButton [options]="statuses" (ngModelChange)="getOrders()" [(ngModel)]="activeStatus"
                            styleClass="w-full"></p-selectButton>
                    </div>
                    <br>
                    <!-- <div> -->
                    <div class="p-inputgroup" *ngIf="statuses">
                        <p-inputNumber [format]="false" [(ngModel)]="searchOrder" placeholder="Search order"
                            (onInput)="searchOrders($event.value)">
                        </p-inputNumber>
                        <button type="button" pButton pRipple icon="pi pi-search"
                            styleClass="p-button-success"></button>
                    </div>
                    <br>
                    <div *ngFor="let item of orders" class="order-list">
                        <div class="p-3 list-item" (click)="changeOrder(item)">
                            <div>{{ item.documentno }}</div>
                            <div class="font-italic text-sm mt-2">{{ item.customer?.name ?? 'GENERIC CUSTOMER'}}</div>
                        </div>
                    </div>
                    <div class="text-center m-5" *ngIf="orders.length===0">
                        NO {{ activeStatus }} ORDERS
                    </div>
                </div>
            </ng-template>
            <p-footer>
                Total: {{ this.totalRecords ?? 0}}
            </p-footer>
        </p-panel>
    </div>
    <div class="col-8">
        <p-panel header="Order">
            <div class="right-panel-content">
                <div class="text-center m-5" *ngIf="!activeOrder.id">
                    <img src="assets/empty.svg" width="250" /><br />
                    NO {{ activeStatus }} ORDERS
                </div>
                <div id="invoice">
                    <div class="invoice-box" *ngIf="activeOrder.id">
                        <table>
                            <tr class="top">
                                <td colspan="5">
                                    <table>
                                        <tr>
                                            <td class="title">
                                                <img src="assets/{{activeOrder.store.logo ?? 'logo-placeholder.png' }}"
                                                    alt="Company logo" style="width: 100%; max-width: 120px" />
                                            </td>

                                            <td>
                                                Order #: {{ activeOrder.documentno }}<br />
                                                Date: {{ activeOrder.orderdate | date: 'short'}}<br />
                                                Due: {{ activeOrder.orderdate | date: 'short' }}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr class="information">
                                <td colspan="5">
                                    <table>
                                        <tr>
                                            <td>
                                                <div>{{ activeOrder.store?.storeName }}</div>
                                                <div> {{ activeOrder.store?.company?.companyName }}</div>
                                                <div> {{ activeOrder.store?.storeAddress1 }} {{
                                                    activeOrder.store?.storeAddress2 }}
                                                    {{ activeOrder.store?.state?.stateName }}</div>
                                                <div>{{ activeOrder.store?.storePhone }}</div>
                                                <div>{{ activeOrder.store?.storeMail }}</div>
                                            </td>

                                            <td>
                                                <div *ngIf="activeOrder.customer">
                                                    <div> {{ activeOrder.customer?.firstName }} {{
                                                        activeOrder.customer?.lastName }} </div>
                                                    <div> {{ activeOrder.customer?.company?.companyName }}</div>
                                                    <div> {{ activeOrder.customer?.phone }}</div>
                                                    <div>{{ activeOrder.customer?.email }}</div>
                                                </div>
                                                <div *ngIf="!activeOrder.customer">
                                                    GENERIC CUSTOMER
                                                </div>
                                            </td>

                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <div class="col-10 text-right" *ngIf="activeOrder.docstatus === 'FORWARDED'">
                                <button pButton label="Confirm Order" (click)="confirmOrder()"
                                    class="p-button-success p-button-outlined mr-3"></button>
                            </div>
                            <div class="text-left" *ngIf="activeOrder.docstatus === 'FORWARDED'">
                                <button pButton label="Cancel Order" (click)="cancelOrder()" style="width: max-content;"
                                    class="p-button-danger p-button-outlined mr-3"></button>
                            </div>
                            <tr class="heading">
                                <td colspan="4">Payment Method</td>

                                <td></td>
                            </tr>
                            <ng-container *ngFor="let pm of activeOrder.orderPayments">
                                <tr *ngIf="pm.amount !== '0'">
                                    <td colspan="4">{{ pm.paymentMethod }}</td>

                                    <td>{{ pm.amount }}</td>
                                </tr>
                            </ng-container>

                            <tr class="heading">
                                <td width="40%">Item</td>
                                <td width="15%">Price</td>
                                <td width="15%" class="text-right">GST</td>
                                <td width="15%" class="text-right">Qty</td>
                                <td width="15%" class="text-right">Amount</td>
                            </tr>

                            <tr class="item" *ngFor="let line of orderLines">
                                <td>{{ line.storeCatalog.name ?? line.storeCatalog.product.name }}</td>
                                <td class="text-right">{{ line.storeCatalog.sellingPrice }}</td>
                                <td class="text-right">{{ line.gst }}</td>
                                <td class="text-right">{{ line.qty }}</td>
                                <td class="text-right">{{ line.orderLineAmount }}</td>
                            </tr>


                            <tr class="total">
                                <td class="text-right" colspan="4">Sub Total:</td>

                                <td>{{ getSubTotal() | number : '1.2-2'}}</td>
                            </tr>
                            <tr class="total">
                                <td class="text-right" colspan="4">Tax Total: </td>

                                <td colspan="4">{{ getTaxTotal() | number : '1.2-2'}}</td>
                            </tr>
                            <tr class="total">
                                <td class="text-right" colspan="4">Total: </td>

                                <td colspan="4">{{ getGrossTotal() | number : '1.2-2'}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <p-footer>
                <div class="text-right">
                    <button pButton class="p-button-text p-0 mr-5" (click)="email('SALESORDER')" icon="pi pi-envelope"
                        label="Email"></button>
                    <button pButton class="p-button-text p-0" icon="pi pi-print" label="Print" printSectionId="invoice"
                        styleSheetFile="assets/css/invoice.css" ngxPrint></button>
                </div>
            </p-footer>
        </p-panel>
    </div>
</div>