.custom-button {
    background: #535353;
    border: #535353;
    ;
}

.custom-button:hover {
    background: #353434;
    border: #353434;
}

// Override the default text color
.custom-button .p-button-text {
    color: #ffffff;
}

// Override the default border radius
.custom-button {
    border-radius: 4px;
}



.right-panel-content {
    padding: 0;
}

:host::ng-deep {
    .left-panel {
        .p-panel-content {
            padding: 0;
        }
    }
}

.rounded-div1 {
    border: 3px solid #0000;
    /* Set the border width and color as needed */
    border-radius: 8px;
    /* Adjust the border-radius to control the roundness */
    //padding: 5px; /* Add padding to the content inside the div if desired */
}

.rounded-div {
    border: 1px solid #ffff;
    /* Set the border width and color as needed */
    border-radius: 8px;
    /* Adjust the border-radius to control the roundness */

}

.remainAmount {
    color: #C22B39;
    //font-family: Red Hat Display;
}

.person-icon {
    width: 45px;
    height: 45px;
    background-color: white;
    /* Customize the background color as needed */
    color: black;
    /* Customize the text color as needed */
    border-radius: 50%;
    border: 1px solid rgb(122, 120, 120);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.leftStatus {
    color: #C22B39;

}

.iconSCSS {
    display: flex;
    align-items: center;
    justify-content: end;
}

.h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px !important;
    padding: 0px !important;
}

.blueText {
    color: #1560E0;
}

.custom-hr {
    border: none;
    border-top: 1px solid lightgray;
    margin: 3px 0;
}

::ng-deep {
    .p-breadcrumb {
        border: none !important;
        margin-left: 25px;
        align-items: center;
    }
}

.iconSCSS1 {
    display: flex;
    align-items: center;
    // justify-content: end;
}

.DNList{
    height: 50rem;
    overflow-y:scroll;
    padding-bottom: 2rem;
}

.DNLeftList{
    height: 46rem;
    overflow-y:scroll;
    padding-bottom: 2rem;
}
