<p-toast></p-toast>

<div class="">
    <div *ngIf="!createNew" class="m-6 border-round-3xl bg-white">
        <div class="center-container mt-5 p-3 ">
            <div class="field col-3"></div>
            <div class="field col-6 ">
                <div class="image-container">
                    <img src="/assets/role.png" alt="Image" class="w-full h-auto">
                </div>
                <div class="text-center">
                    <b class="text-2xl">Delegation Made Simple</b><br>
                    <p>EmpowerYour Team by Delegating Tasks and Responsibilities</p>
                </div>
                <div class="text-center">
                    <button type="button" pButton label="Create Delegation" (click)="createRole()"
                        class="mb-3 text-lg p-button-raised bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-800 "></button>
                </div>
            </div>
            <div class="field col-3"></div>
        </div>
    </div>

    <div *ngIf="createNew">
        <div class="bg-white iconSCSS1">
            <div class="col-4">
                <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
            </div>
            <div class="col-8">
                <div class="border-200 text-right">
                    <button type="button" pButton label="Cancel" class=" mr-3 p-button-secondary"
                        (click)="onCancel()"></button>
                    <button type="button" pButton label="Save Delegation role" (click)="onSubmitRole()"
                        [disabled]="!roleForm.valid"
                        class=" mr-3 bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-800 "></button>
                </div>
            </div>
        </div>

        <div class="m-8 bg-white border-round-3xl">
            <form (ngSubmit)="onSubmitRole()" [formGroup]="roleForm" class="p-6 ml-8">
                <h3 class="text-xl text-blue-700">Role Details</h3>


                <div class="field col-8">
                    <label class="mr-3 required">Role Name</label>
                    <input pInputText formControlName="name" placeholder="Enter Role Name" class="w-full" />
                    <error-message [controlName]="roleForm.controls['name']"></error-message>
                </div>

                <div class="field col-8">
                    <label class="mr-3 required">Role Type</label>
                    <p-dropdown class="bg-slate-200" [options]="roleType" [style]="{ width: '100%' }" placeholder="Type"
                        optionLabel="name" optionValue="name" formControlName="roleType"></p-dropdown>
                </div>

                <div class="field col-8">
                    <label class="mr-3 required">Role Description</label>
                    <textarea pInputText formControlName="description" placeholder="Enter Role Description"
                        class="w-full"></textarea>
                    <error-message [controlName]="roleForm.controls['description']"></error-message>
                </div>

                <div class="field col-8">
                    <label class="mr-3">Priviledge</label>
                    <input pInputText formControlName="privilege" placeholder="Enter Privilege" class="w-full" />
                    <!-- <error-message [controlName]="roleForm.controls['privilege']"></error-message> -->
                </div>

                <div class="border-bottom-1 border-200 text-right p-3">
                    <button type="button" pButton label="Cancel" (click)="onCancel()"
                        class=" mr-3 p-button-secondary "></button>
                    <button type="submit" pButton label="Save Delegation Role" [disabled]="!roleForm.valid"
                        class=" mr-3 bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-800 "></button>
                </div>

            </form>

        </div>

    </div>
</div>

<p-blockUI [blocked]="submitted">
    <i class="pi pi-spin pi-spinner" style="font-size: 3rem"></i>
</p-blockUI>