<p-breadcrumb [home]="home" [model]="items" styleClass="border-0"></p-breadcrumb>
<div class="card">
    <h2 class="p-2">Manage Countries</h2>

    <p-table #dt [value]="countries" [rows]="10" [paginator]="true" [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[10,25,50]" responsiveLayout="scroll" [lazy]="true" (onLazyLoad)="loadPage($event)"
        [globalFilterFields]="['countryIdentifier','countryCode', 'countryName']" responsiveLayout="scroll"
        [(selection)]="selectedCountries" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <div>
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                        (click)="openNew()"></button>
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                        (click)="deleteSelectedCountries()"
                        [disabled]="!selectedCountries || !selectedCountries.length"></button>
                </div>
                <div>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')"
                            placeholder="Search..." />
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>

                <th pSortableColumn="countryName">Country Name <p-sortIcon field="countryName"></p-sortIcon>
                </th>
                <th pSortableColumn="countryCode">Country Name <p-sortIcon field="countryCode"></p-sortIcon>
                </th>
                <!-- <th>Country Code</th> -->
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-country>
            <tr>
                <td>
                    <p-tableCheckbox [value]="country"></p-tableCheckbox>
                </td>
                <td>{{country.countryName}}</td>
                <td>{{country.countryCode}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-text p-button-info p-0 mr-2"
                        (click)="editCountry(country)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-text p-button-danger p-0"
                        (click)="deleteCountry(country)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{countries ? countries.length : 0 }} countries.
            </div>
        </ng-template>
    </p-table>
</div>
<form #f="ngForm">
    <p-sidebar position="right" [(visible)]="countryDialog"  header="Country Type" [modal]="true"
    styleClass="p-sidebar-md">
    <h2>Country Type</h2>
        <ng-template pTemplate="content">
            <br>
            <div class="field p-fluid">
                <label for="countryName">Country Name</label>
                <input type="text" pInputText name="countryName" #countryName="ngModel"
                    [(ngModel)]="country.countryName" required pattern="^[a-zA-z]+([\s][a-zA-Z]+)*$" minlength="1"
                    maxlength="60" />
                <error-message [controlName]="countryName"></error-message>
            </div>
            <br>
            <div class="field p-fluid">
                <label for="countryCode">Country Code</label>
                <input type="text" pInputText name="countryCode" #countryCode="ngModel"
                    [(ngModel)]="country.countryCode" required pattern="^[a-zA-Z]+$" oninput="this.value = this.value.toUpperCase()" />
                <error-message [controlName]="countryCode"></error-message>
            </div>
            <br>

        <!-- </ng-template> -->

        <!-- <ng-template pTemplate="footer"> -->
            <div class="text-right"> 
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-secondary"
                (click)="hideDialog()"></button>&nbsp;
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button" (click)="saveCountry()"
                [disabled]="!f.valid"></button>
            </div>
           
        </ng-template>
    </p-sidebar>
</form>