<p-toast></p-toast>


<div class="">

    <div class="bg-white iconSCSS1">
        <div class="col-4">
            <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
        </div>
        <div class="col-8">
            <div class=" border-200 text-right">
                <button type="button" pButton label="Cancel" class="  mr-3 p-button-secondary"
                    (click)="cancelProductCategory()"></button>
                <button type="button" pButton label="Save Product Category" [disabled]="!productCategoryForm.valid"
                    class="mr-3 bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-800 "
                    (ngSubmit)="onSubmitPC()"></button>
            </div>
        </div>
    </div>



    <div class="m-6 bg-white border-round-3xl">

        <form (ngSubmit)="onSubmitPC()" [formGroup]="productCategoryForm" class="p-6">
            <h3 class="text-xl text-blue-700">Product Category Details</h3> <br>

            <div class="field">
                <label class="mr-3 ">Parent Category</label>
                <ng-container formGroupName="parent">
                    <div class="payment-dropdown ">
                        <p-dropdown [options]="categories" placeholder="Choose Category" optionValue="id"
                            formControlName="id" optionLabel="name" [showClear]="true" [style]="{ width: '50%' }">
                        </p-dropdown>
                    </div>
                </ng-container>

            </div>
            <hr class="mt-5 mb-5">

            <div class="flex gap-2">
                <div class="field col-6">
                    <label class="mr-3 required">Category Name</label>
                    <input pInputText formControlName="name" placeholder="Enter Product Category Name" class="w-full" />
                    <error-message [controlName]="productCategoryForm.controls['name']"></error-message>
                </div>
                <div class="field col-6">
                    <label class="mr-3 required">Search Key</label>
                    <input pInputText formControlName="searchKey" placeholder="Enter Search Key" class="w-full" />
                    <error-message [controlName]="productCategoryForm.controls['searchKey']"></error-message>
                </div>
            </div>

            <div class="flex">
                <div class="field col-12">
                    <label class="mr-3 required">Category Description</label>
                    <textarea pInputText formControlName="description" placeholder="Enter Product Category Name"
                        class="w-full"></textarea>
                    <error-message [controlName]="productCategoryForm.controls['description']"></error-message>
                </div>
            </div>

            <div class="border-bottom-1 border-200 text-right p-3">
                <button type="button" pButton label="Cancel" class=" mr-3 p-button-secondary"
                    (click)="cancelProductCategory()"></button>
                <button type="submit" pButton label="Save Product Category" [disabled]="!productCategoryForm.valid"
                    class="mr-3 bg-blue-700 text-white px-4 py-2.5 rounded-md hover:bg-blue-800 "></button>
            </div>

        </form>
    </div>
</div>