<p-toast></p-toast>
<div class="layout">
    <app-navbar></app-navbar>

    <div class="content-wrapper">
        <!-- <app-sidebar class="sidebar"></app-sidebar> -->
        <div class="sidebar bg-gray-500">
            <app-sidebar></app-sidebar>
        </div>

        <div class="main-content">
            <div class="raised-container">
                <div class="flex bg-gray-300 button-container">
                    <button type="button" pButton label="Cancel"
                        class=" mt-3 mb-3 p-button-raised bg-gray-500 text-white px-4 py-2.5 rounded-md hover:bg-gray-600 "></button>
                    <button type="button" pButton label="Add Product Category"
                        class="mt-3 mr-3 mb-3 p-button-raised bg-blue-500 text-white px-4 py-2.5 rounded-md hover:bg-blue-600 "></button>
                </div>
            </div>

            <div>
                <form (ngSubmit)="onSubmitPC()" [formGroup]="productCategoryForm" class="p-3">
                    <h3 class="text-xl text-blue-500">Product Category Details</h3>

                    <div class="flex">
                        <label class="mr-3 required">Parent Category</label>
                        <ng-container formGroupName="parent">
                            <div class="payment-dropdown ">
                                <p-dropdown [options]="categories" placeholder="Choose Category" optionValue="id"
                                    formControlName="id" optionLabel="name" [showClear]="true">
                                </p-dropdown>
                            </div>
                        </ng-container>

                    </div>
                    <hr class="mt-5 mb-5">

                    <div class="flex gap-2">
                        <div class="field col-6">
                            <label class="mr-3 required">Category Name</label>
                            <input pInputText formControlName="name" placeholder="Enter Product Category Name" class="w-full" />
                            <error-message [controlName]="productCategoryForm.controls['name']"></error-message>
                        </div>
                        <div class="field col-6">
                            <label class="mr-3 required">Search Key</label>
                            <input pInputText formControlName="searchKey" placeholder="Enter Search Key"
                                class="w-full" />
                            <error-message [controlName]="productCategoryForm.controls['searchKey']"></error-message>
                        </div>
                    </div>

                    <div class="flex">
                        <div class="field col-12">
                            <label class="mr-3 required">Category Description</label>
                            <textarea pInputText formControlName="description" placeholder="Enter Product Category Name" class="w-full"></textarea>
                            <error-message [controlName]="productCategoryForm.controls['description']"></error-message>
                        </div>
                    </div>

                    <div class="flex ">
                        <div class="field col-12 text-right w-full">
                            <button type="submit" pButton label="Save" [disabled]="!productCategoryForm.valid"
                                class="mb-6 p-button-raised bg-blue-500 text-white px-4 py-2.5 rounded-md hover:bg-blue-600 "></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>