.center-container {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  //height: 82vh; /* Optional: Adjust the height as needed for vertical centering */
}


.Btn {
  border-radius: 3.09px;
  background: #3B82F6;
}

.cancelBtn {
  border-radius: 4px;
  background: #B1B1B1;
}

.textColor {
  color: #1560E0;
}

.fileTitle {
  color: #3a77df;
  text-transform: capitalize;
}

.greyText {
  color: #A4A4A4;
  font-size: 12px;
  text-transform: capitalize;
}

.iconSCSS1 {
  display: flex;
  align-items: center;
}

.showFileName {
  margin-left: 97px;
  color: rgb(126, 121, 121);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}